<app-nav></app-nav>
<div class="container pb-5">
    <div class="row">
        <div class="col-12 my-5">
            <app-components-title-subtitle title="Categorías" subtitle="Categorías en vivesucre" justify="center">
            </app-components-title-subtitle>
        </div>
        <app-loading *ngIf="loading"></app-loading>
        <ng-container *ngIf="!loading">
            <div class="col-6 col-md-2 pointer" *ngFor="let item of items" [routerLink]="'/category/'+item.Id">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <span class="material-symbols-outlined fs-1 color-secondary">
                            verified
                        </span>
                        <p class="fw-bold text-center">
                            {{item.Descripcion}}
                        </p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<app-components-footer></app-components-footer>