<div class="row mt-4" *ngIf="complete == false">
    <div class="col-12 col-md-9"></div>
    <div class="col-12 col-md-3">
        <div class="card p-2">
            <strong class="f20">Medios de pago</strong>
            <div class="mt-2 fw-medium">Tarjetas de crédito</div>
            <div class="d-flex flex row">
                <img src="../assets/img/bancos/logo-visa.png" alt="" class="w-25">
                <img src="../assets/img/bancos/logo-mastercard.png" alt="" class="w-25">
                <img src="../assets/img/bancos/logo-american-express.png" alt="" class="w-25">
            </div>

            <div class="mt-2 fw-medium">Tarjetas de débito</div>
            <div class="d-flex flex row">
                <img src="../assets/img/bancos/logo-visa.png" alt="" class="w-25">
                <img src="../assets/img/bancos/logo-mastercard.png" alt="" class="w-25">
                <img src="../assets/img/bancos/logo-american-express.png" alt="" class="w-25">
            </div>
            <div class="mt-2 fw-medium">Transferencias bancarias</div>
            <div class="d-flex flex row">
                <img src="../assets/img/bancos/pse-nequi-daviplata.png" alt="" class="img-fluid">
            </div>
            <div class="mt-2 fw-medium">Efectivo</div>
            <div class="d-flex flex row">
                <img src="../assets/img/bancos/corresponsal_bancario.png" alt="" class="w-75">
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="complete == true">
    <div class="col-12">
        <div class="p-2">
            <strong class="f20">Medios de pago</strong>
            <div class="mt-2 fw-medium">Tarjetas de crédito</div>
            <div class="d-flex flex row">
                <img src="../assets/img/bancos/logo-visa.png" alt="" class="w-25">
                <img src="../assets/img/bancos/logo-mastercard.png" alt="" class="w-25">
                <img src="../assets/img/bancos/logo-american-express.png" alt="" class="w-25">
            </div>

            <div class="mt-2 fw-medium">Tarjetas de débito</div>
            <div class="d-flex flex row">
                <img src="../assets/img/bancos/logo-visa.png" alt="" class="w-25">
                <img src="../assets/img/bancos/logo-mastercard.png" alt="" class="w-25">
                <img src="../assets/img/bancos/logo-american-express.png" alt="" class="w-25">
            </div>
            <div class="mt-2 fw-medium">Transferencias bancarias</div>
            <div class="d-flex flex row">
                <img src="../assets/img/bancos/pse-nequi-daviplata.png" alt="" class="img-fluid">
            </div>
            <div class="mt-2 fw-medium">Efectivo</div>
            <div class="d-flex flex row">
                <img src="../assets/img/bancos/corresponsal_bancario.png" alt="" class="w-75">
            </div>
        </div>
    </div>
</div>


<!-- <div class="row mt-4" *ngIf="complete == true">
     <div class="col-12 col-md-5"></div> 
    <div class="col-12">
        <div class="card p-2 d-flex flex-column">
            <strong class="f20 my-2">Medios de pago</strong>
            <div class="row">
                <div class="col-3 d-flex flex-column">
                    <div class="my-2 fw-medium text-center" style="line-height: 1;">Tarjetas de crédito</div>
                    <div class="d-flex flex-column align-items-center">
                        <img src="../assets/img/bancos/logo-visa.png" alt="" class="w-50">
                        <img src="../assets/img/bancos/logo-mastercard.png" alt="" class="w-50">
                        <img src="../assets/img/bancos/logo-american-express.png" alt="" class="w-50">
                    </div>
                </div>
                <div class="col-3 d-flex flex-column">
                    <div class="my-2 fw-medium text-center" style="line-height: 1;">Tarjetas de débito</div>
                    <div class="d-flex flex-column align-items-center">
                        <img src="../assets/img/bancos/logo-visa.png" alt="" class="w-50">
                        <img src="../assets/img/bancos/logo-mastercard.png" alt="" class="w-50">
                        <img src="../assets/img/bancos/logo-american-express.png" alt="" class="w-50">
                    </div>
                </div>
                <div class="col-3 d-flex flex-column">
                    <div class="my-2 fw-medium text-center" style="line-height: 1;">Transferencias bancarias</div>
                    <div class="d-flex flex row align-items-center">
                        <img src="../assets/img/bancos/pse-nequi-daviplata.png" alt="" class="w-100">
                    </div>
                </div>
                <div class="col-3 d-flex flex-column">
                    <div class="mt-2 mb-4 fw-medium text-center" style="line-height: 1;">Efectivo</div>
                    <div class="d-flex flex-column align-items-center">
                        <img src="../assets/img/bancos/corresponsal_bancario.png" alt="" class="w-75">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->