<app-nav></app-nav>
<div class="container">
    <div class="row my-3">
        <div class="col-12">
            <app-banner [img]="Banners2[1].URL" *ngIf="!loading4"></app-banner>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 mb-3">
            <app-components-title-subtitle [title]="enum[0].title" [subtitle]="enum[0].subtitle"
                [justify]="enum[0].justify">
            </app-components-title-subtitle>
        </div>
        <div class="col-6 col-md-2 pointer" *ngFor="let item of categories" [routerLink]="'/category/'+item.Id">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <img [src]="item.Imagen" class="img-fluid">
                    <p class="fw-bold text-center">
                        {{item.Descripcion}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 mb-3">
            <app-components-title-subtitle [title]="enum[1].title" [subtitle]="enum[1].subtitle"
                [justify]="enum[1].justify">
            </app-components-title-subtitle>
        </div>
        <div class="col-6 col-md-3" *ngFor="let item of products ; let i = index">
            <app-components-card-product [item]="products[i]"></app-components-card-product>
        </div>
    </div>
</div>
<app-components-wall [blocks]="blocks"></app-components-wall>
<div class="container">
    <div class="row my-5">
        <app-components-title-subtitle [title]="enum[2].title" [subtitle]="enum[2].subtitle"
            [justify]="enum[2].justify">
        </app-components-title-subtitle>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <app-banner [img]="Banners2[0].URL" *ngIf="!loading4"></app-banner>
        </div>
        <div class="col-12 col-md-8">
            <app-banner [img]="Banners2[1].URL" *ngIf="!loading4"></app-banner>
        </div>
        <div class="col-12 col-md-4">
            <app-banner [img]="Banners2[1].URL" *ngIf="!loading4"></app-banner>
            <app-banner [img]="Banners2[0].URL" *ngIf="!loading4"></app-banner>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 mb-3">
            <app-components-title-subtitle [title]="enum[1].title" [subtitle]="enum[1].subtitle"
                [justify]="enum[1].justify">
            </app-components-title-subtitle>
        </div>
        <div class="col-6 col-md-3" *ngFor="let item of products ; let i = index">
            <app-components-card-product [item]="products[i]"></app-components-card-product>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 mb-3">
            <app-components-title-subtitle [title]="enum[0].title" [subtitle]="enum[0].subtitle"
                [justify]="enum[0].justify">
            </app-components-title-subtitle>
        </div>
        <div class="col-6 col-md-2 pointer" *ngFor="let item of categories" [routerLink]="'/category/'+item.Id">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <img [src]="item.Imagen" class="img-fluid">
                    <p class="fw-bold text-center">
                        {{item.Descripcion}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-white w-100 py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3">
                <app-components-title-subtitle [title]="enum[3].title" [subtitle]="enum[3].subtitle"
                    [justify]="enum[3].justify">
                </app-components-title-subtitle>
            </div>
            <div class="col-6 col-md-2 pointer" *ngFor="let item of stores" [routerLink]="'/store/'+item.Id">
                <app-card-store [item]="item"></app-card-store>
            </div>
            <div class="col-12">
                <p class="text-center">
                    <a routerLink="/stores/" class="color-secondary">Ver todas las marcas</a>
                </p>
            </div>
        </div>
    </div>
</div>
<app-components-footer></app-components-footer>