<app-nav></app-nav>
<app-banner [img]="imgBanner" *ngIf="!loading4"></app-banner>
<div class="container">
    <app-card-link></app-card-link>
    <!-- <div class="container-fluid"> -->
    <div class="row my-2">
        <div class="col-12 col-md-6">
            <div class="w-100" style="cursor: pointer;" routerLink="/search" [queryParams]="{ keyword: 'muñecas'}">
                <img src="../../assets/img/Rectangle_1.png" alt="" class="img-fluid w-100 rounded-3 m-1">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="w-100" style="cursor: pointer;" routerLink="/search" [queryParams]="{ keyword: 'joyas'}">
                <img src="../../assets/img/Rectangle_2.png" alt="" class="img-fluid w-100 rounded-3 m-1">
            </div>
        </div>
    </div>
    <!-- </div> -->
    <!-- <div class="container-fluid"> -->
    <div class="row mb-5" *ngIf="random && random.Categorias">
        <div class="row mb-3">
            <app-components-title-subtitle [title]="enum[0].title" [subtitle]="enum[0].subtitle"
                [justify]="enum[0].justify">
            </app-components-title-subtitle>
        </div>
        <div class="row container-category mx-1">
            <div class="col-6 col-md-2 pointer" *ngFor="let item of random.Categorias"
                [routerLink]="'/category/'+item.Id">
                <div class="card mb-3 border-0">
                    <div class="card-body">
                        <div class="content-wrapper w-100">
                            <div class="w-50 image-container">
                                <img [src]="item.Imagen" class="img-fluid">
                            </div>
                            <div class="w-50 description-container">
                                <p class="descriptionCategory">{{item.Descripcion}}</p>
                                <div class="barraColor" [style.background]="color3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
    <!-- <div class="container-fluid"> -->
    <div class="row mb-5" *ngIf="random && random.Productos">
        <div class="row">
            <app-components-title-subtitle [title]="enum[1].title" [justify]="enum[1].justify">
            </app-components-title-subtitle>
        </div>
        <div class="row container-category mx-1">
            <div class="col-6 col-md-2" *ngFor="let item of random.Productos">
                <app-components-card-product [item]="item"></app-components-card-product>
            </div>
        </div>

    </div>
    <!-- </div> -->
    <!-- <div class="container-fluid"> -->
    <div class="row mb-5" *ngIf="random2 && random2.Productos">
        <div class="row">
            <app-components-title-subtitle [title]="enum[2].title" [justify]="enum[1].justify">
            </app-components-title-subtitle>
        </div>
        <div class="row container-category mx-1">
            <div class="col-6 col-md-2" *ngFor="let item of random2.Productos">
                <app-components-card-product [item]="item"></app-components-card-product>
            </div>
        </div>
    </div>
    <!-- </div> -->

    <!-- <app-components-wall [blocks]="blocks"></app-components-wall> -->
    <!-- <div class="container-fluid"> -->
    <div class="row my-3">
        <div class="col-12">
            <app-banner [img]="Banners2[1].URL" *ngIf="!loading4"></app-banner>
        </div>
    </div>
    <!-- </div> -->
    <!-- <div class="container-fluid"> -->
    <div class="row bg-white mb-5 py-5 rounded-4">
        <div class="col-12 col-md-6">
            <div class="strong" [style.color]="color1">
                ¿Qué es <br> quilla <br>emprende?
            </div>
            <div class="my-3 textoLargo">
                Quilla emprende donde la inovacion y el emprendimiento se unen Lorem ipsum dolor sit amet
                consectetur
                adipisicing elit. Perspiciatis, consequuntur porro? Magni nihil voluptas nisi numquam, dicta
                delectus
                atque, sequi ab tempore velit, ea sed minima voluptatibus. Soluta, atque minus?
            </div>
            <a mat-flat-button href="https://quillaemprende.com/postulate/" target="_blank" [style.background]="color3"
                [style.color]="color1" class="btn">
                <div class="registrate">
                    ¡REGISTRATE!
                </div>
            </a>
            <!-- <button  [style.background]="color3" [style.color]="color1"
                routerLink="/register"></button> -->
        </div>
        <div class="col-12 col-md-6 mt-3" style="text-align:center;">
            <iframe class="responsive-video" src="https://www.youtube.com/embed/ppAnpOXNvxI?si=TLMC_PMuQ8KoUBpW"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <!-- </div> -->
    <!-- <div class="container-fluid"> -->
    <div class="row mb-5" *ngIf="random && random.Productos">
        <div class="row">
            <app-components-title-subtitle [title]="enum[3].title" [justify]="enum[3].justify">
            </app-components-title-subtitle>
        </div>
        <div class="row container-category mx-1">
            <div class="col-6 col-md-2 pointer" *ngFor="let item of random.Tiendas" [routerLink]="'/store/'+item.Id">
                <app-card-store [item]="item"></app-card-store>
            </div>
        </div>
        <!-- <div class="col-12">
                <p class="text-center">
                    <a routerLink="/stores/" class="color-secondary">Ver todas las marcas</a>
                </p>
            </div> -->
    </div>
    <!-- </div> -->
    <!-- <div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-3">
            <app-components-title-subtitle [title]="enum[4].title" [justify]="enum[3].justify">
            </app-components-title-subtitle>
        </div>
        <div class="col-12 col-md-6 my-2" *ngFor="let item of random.Productos">
            <app-card-entrepreneur [item]="item"></app-card-entrepreneur>
        </div>
    </div>
</div> -->

    <!-- <div class="container-fluid"> -->
    <div class="row bg-white mx-3 py-2">
        <div class="col-12 col-md-3 py-3 d-flex align-items-center justify-content-center">
            <div class="fs-3 fw-semibold" [style.color]="color1" style="line-height: 1;">CONFIABLE<br>Y SEGURO
            </div>
        </div>
        <div class="col-4 col-md-3 pt-3">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <img src="../../assets/img/Vector.png" alt="" class="icon3-img">
                <div class="fs-6 mt-3 fw-medium" [style.color]="color5" style="line-height: 1; text-align: center">
                    Atención<br>al
                    cliente</div>
            </div>
        </div>
        <div class="col-4 col-md-3 pt-3">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <img src="../../assets/img/verificado.png" alt="" class="icon2-img">
                <div class="fs-6 mt-3 fw-medium" [style.color]="color5" style="line-height: 1; text-align: center">
                    Compra 100% segura
                </div>
            </div>
        </div>
        <div class="col-4 col-md-3 pt-3">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <img src="../../assets/img/domicilio-1.png" alt="" class="icon2-img">
                <div class="fs-6 mt-3 fw-medium" [style.color]="color5" style="line-height: 1; text-align: center">
                    Envios a <br>nivel nacional
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->

</div>


<app-components-footer></app-components-footer>