<app-nav></app-nav>
<p>home works!</p>

<main>
    <div class="container">
        <div class="">

            <div class="row">
                <div class="col-8">
                    <app-banner
                        img="https://storage.googleapis.com/seeri-banners/banners/co/4c109c3a6b1137b17aa7e60c05fa576b/bannerweb4-1696950167874.png"></app-banner>
                </div>
                <div class="col-4">
                    <app-banner></app-banner>
                </div>
            </div>


            <div class="mt-5">
                <div class="row w-100">
                    <section class="col-3">
                        <div class="row w-100">
                            <h6 class="txtCenter">ABASTECE TU STOCK POR</h6>
                            <u class="txtCenter text-warning">
                                <h3>CATEGORIAS</h3>
                            </u>
                        </div>
                    </section>
                    <section class="col-9">
                        <div class="row w-100">
                            <div class="col productos">
                                <div class="containImgProduc">
                                    <img src="./iconos/reloj.png" alt="" class="imgProductos">
                                </div>
                                <span class="fw-semibold fs3">Producto</span>
                            </div>
                            <div class="col productos">
                                <div class="containImgProduc">
                                    <img src="./iconos/reloj.png" alt="" class="imgProductos">
                                </div>
                                <span class="fw-semibold fs3">Producto</span>
                            </div>
                            <div class="col productos">
                                <div class="containImgProduc">
                                    <img src="./iconos/reloj.png" alt="" class="imgProductos">
                                </div>
                                <span class="fw-semibold fs3">Producto</span>
                            </div>
                            <div class="col productos">
                                <div class="containImgProduc">
                                    <img src="./iconos/reloj.png" alt="" class="imgProductos">
                                </div>
                                <span class="fw-semibold fs3">Producto</span>
                            </div>
                            <div class="col productos">
                                <div class="containImgProduc">
                                    <img src="./iconos/reloj.png" alt="" class="imgProductos">
                                </div>
                                <span class="fw-semibold fs3">Producto</span>
                            </div>
                        </div>
                    </section>
                </div>
            </div>



            <div class="mt-5 mb-2">
                <div class="row w-100">
                    <div class="mb-5">
                        <h6 class="txtCenter fw-semibold">OPTIMIZA TU INVENTARIO</h6>
                        <h3 class="txtCenter fw-bolder">COMPRA LO QUE MAS SE VENDE
                        </h3>
                    </div>
                </div>
            </div>


            <app-banner
                [img]="'https://storage.googleapis.com/seeri-banners/banners/co/44531b804ad56ef73de6e2658cf2a226/MEGA-1697037355077.png'"></app-banner>


            <div>
                <div class="row w-100 mb-5">
                    <div class="col">
                        <div class="card cardss">
                            <div class="card-body text-center">
                                <img src="./iconos/reloj.png" alt="" class="imgProductos">
                                <p class="text-left mt-2">Producto</p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col">
                                        <strong class="txtPrecios">$42.000</strong>
                                        <span class="txtPrecios2">*PSPV
                                            $60.000</span>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-primary">Comprar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card cardss">
                            <div class="card-body text-center">
                                <img src="./iconos/reloj.png" alt="" class="imgProductos">
                                <p class="text-left mt-2">Producto</p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col">
                                        <strong class="txtPrecios">$42.000</strong>
                                        <span class="txtPrecios2">*PSPV
                                            $60.000</span>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-primary">Comprar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card cardss">
                            <div class="card-body text-center">
                                <img src="./iconos/reloj.png" alt="" class="imgProductos">
                                <p class="text-left mt-2">Producto</p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col">
                                        <strong class="txtPrecios">$42.000</strong>
                                        <span class="txtPrecios2">*PSPV
                                            $60.000</span>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-primary">Comprar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card cardss">
                            <div class="card-body text-center">
                                <img src="./iconos/reloj.png" alt="" class="imgProductos">
                                <p class="text-left mt-2">Producto</p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col">
                                        <strong class="txtPrecios">$42.000</strong>
                                        <span sclass="txtPrecios2">*PSPV
                                            $60.000</span>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-primary">Comprar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>