@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.txtCenter {
    text-align: center;
}

.imgCategories {
    object-fit: contain;
    width: 10rem;
    height: 5rem;
}


.letraCat {
    font-weight: bold;
    font-size: 20px
}

.imgStores {
    object-fit: contain;
    width: '100%';
    height: 8rem;
}

.strong {
    font-size: 45px;
    font-weight: 900;
    text-transform: capitalize;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    line-height: 1;
    /* Ajusta este valor según tus necesidades */
}

.registrate {
    font-size: 20px;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
}



.responsive-video {
    width: 560px;
    height: 315px;
}

.icon-img {
    width: 65px;
    height: 50px;
}

.icon2-img {
    width: 30px;
    height: 20px;
}

.icon3-img {
    width: 22px;
    height: 20px;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.description-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* justify-content: center;
    align-items: center;
    font-size: 18px; */
}

.barraColor {
    width: 30px;
    height: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
}

.textoLargo {
    text-align: justify;
}

/* Ajusta el tamaño del video para pantallas medianas (md) */
@media (max-width: 992px) {
    .responsive-video {
        width: 480px;
        /* Cambia este valor según tus necesidades */
        height: 270px;
        /* Mantén la proporción 16:9 */
    }
}

/* Ajusta el tamaño del video para pantallas pequeñas (col) */

@media (max-width: 768px) {
    .responsive-video {
        width: 320px;
        /* Cambia este valor según tus necesidades */
        height: 180px;
        /* Mantén la proporción 16:9 */
    }

    .content-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .image-container,
    .descriptionCategory,
    .description-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 12px;
    }


    .barraColor {
        width: 20px;
        height: 3px;
        border-radius: 10px;
        display: flex;
    }

    .container-category {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        /* margin-left: 10px;
        margin-right: 20px; */
    }

    .container-category::-webkit-scrollbar {
        height: 5px;
    }

    .container-category::-webkit-scrollbar-thumb {
        background-color: #ED144C;
        border-radius: 10px;
    }

    .container-category::-webkit-scrollbar-track {
        background: #c59ba5;
        border-radius: 20px;

    }


}

@media (max-width: 600px) {
    .responsive-video {
        width: 220px;
        /* Cambia este valor según tus necesidades */
        height: 110px;
        /* Mantén la proporción 16:9 */
    }

    .container-category {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    /* 
    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .image-container,
    .description-container {
        width: 100%;
    } */
}

/* Ajusta el tamaño de la fuente para pantallas medianas (md) */
@media (max-width: 992px) {
    .strong {
        font-size: 50px;
        /* Cambia este valor según tus necesidades */
    }
}

/* Ajusta el tamaño de la fuente para pantallas pequeñas (col) */
@media (max-width: 768px) {
    .strong {
        font-size: 30px;
        /* Cambia este valor según tus necesidades */
    }
}



/* .categoriesss {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.categoriesss::-webkit-scrollbar {
    height: 8px;
}

.categoriesss::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 4px;
} */