<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="col-10 col-md-6 mx-auto d-flex flex-column">
        <div class="fw-bold f28 mb-3" [style.color]="color6">Editar Contraseña</div>
        <mat-form-field class="w-100 mb-3" appearance="outline" [style.color]="color5">
            <mat-label>Contraseña actual</mat-label>
            <input matInput type="text" autocomplete="off" formControlName="ContraseñaActual" required>
        </mat-form-field>
        <mat-form-field class="w-100 mb-3" appearance="outline" [style.color]="color5">
            <mat-label>Contraseña nueva</mat-label>
            <input matInput type="text" autocomplete="off" formControlName="ContraseñaNueva" required>
        </mat-form-field>
        <mat-form-field class="w-100 mb-3" appearance="outline" [style.color]="color5">
            <mat-label>Confirmar contraseña nueva</mat-label>
            <input matInput type="text" autocomplete="off" formControlName="ContraseñaConfirm" required>
        </mat-form-field>
        <button mat-flat-button [style.color]="color6" [style.backgroundColor]="color2" class="mb-3"
            type="submit">Actualizar</button>
        <button mat-stroked-button class="mb-3" type="button" routerLink="/admin/my-info">Atrás</button>
    </div>
</form>