<app-nav></app-nav>
<div class="container pb-5">
    <div class="row">
        <div class="col-12 my-5">
            <app-components-title-subtitle title="Tiendas" subtitle="Tiendas en vivesucre" justify="center">
            </app-components-title-subtitle>
        </div>
        <div class="col-6 col-md-2 pointer" *ngFor="let item of [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]"
            routerLink="/store">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <img src="https://th.bing.com/th?id=OSK.639e3b0355a42430576f839817f2528e&w=148&h=148&c=7&o=6&dpr=1.1&pid=SANGAM"
                        class="img-fluid mx-auto">
                    <p class="fw-bold text-center">Tienda</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-components-footer></app-components-footer>