<app-nav></app-nav>
<div class="container pb-5">
    <div class="row">
        <div class="col-12 my-5">
            <app-components-title-subtitle title="Tiendas" subtitle="Tiendas en vivesucre" justify="center">
            </app-components-title-subtitle>
        </div>
        <app-loading *ngIf="loading"></app-loading>
        <ng-container *ngIf="!loading">
            <div class="col-6 col-md-2 pointer" *ngFor="let item of items" [routerLink]="'/store/'+item.Id">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <img [src]="item.Logo" class="img-fluid mx-auto mb-3">
                        <p class="fw-bold text-center text-truncate">{{item.Descripcion}}</p>
                        <p class="fw-light text-center text-truncate">{{item.Biografia}}</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<app-components-footer></app-components-footer>