<app-nav></app-nav>
<div class="container pb-5">
    <div class="row">
        <div class="col-12 my-5">
            <app-components-title-subtitle title="Tiendas" subtitle="Tiendas en Quilla Vende" justify="center">
            </app-components-title-subtitle>
        </div>
        <app-loading *ngIf="loading"></app-loading>
        <ng-container *ngIf="!loading">
            <div class="col-6 col-md-2" *ngFor="let item of items">
                <app-card-store [item]="item"></app-card-store>
            </div>
        </ng-container>
    </div>
</div>
<app-components-footer></app-components-footer>