<app-nav></app-nav>
<main class="">
    <div class="container my-4">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="w-100 fw-semibold">
                    <div>Producto buscado:</div>
                    <div class="text-success">{{search.Productos.length + search.Tiendas.length}} resultados</div>
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="mb-3">
                    <app-loading [type]="'bar'"></app-loading>
                </div>
                <div class="bg-white w-100 mb-2 rounded-5" *ngFor="let item of listProducts">
                    <app-components-product-search></app-components-product-search>
                </div>
            </div>
        </div>
    </div>

</main>
<app-components-footer></app-components-footer>