<h3 class="color-primary fw-bold">Mis direcciones</h3>
<p>Esta es la lista de tus direcciones</p>
<div class="row my-3">
    <div class="col-12">
        <div class="table-responsive-sm">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Dirección</th>
                        <th>Barrio</th>
                        <th>Ciudad</th>
                        <th>País</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of [0,0,0,0,0,0,0,0,0,0,0,0,0]">
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>john@example.com</td>
                        <td class="d-flex justify-content-center gap-3 w-auto">
                            <button mat-flat-button color="primary">Acción</button>
                            <button mat-flat-button color="accent">Acción</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>