<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <p class="text-center">
                {{data.message}}
            </p>
        </div>
        <div class="col-12 d-flex flex-row justify-content-center gap-3">
            <button mat-stroked-button (click)="close()">{{data.buttonCancel}}</button>
            <button mat-flat-button [style.color]="color4" [style.backgroundColor]="color3"
                (click)="confirm()">{{data.buttonConfirm}}</button>
        </div>
    </div>
</div>