<form [formGroup]="form" (ngSubmit)="submit()">
    <p class="fw-bold f28 color-primary mb-3">{{edit ? 'Editar Red' : 'Nuevo Red'}}</p>
    <div class="row">
        <div class="col-10 col-md-6">
            <mat-form-field appearance="outline" class="w-100 mb-3" color="accent">
                <mat-label>Redes</mat-label>
                <mat-select formControlName="RedSocialId">
                    <mat-option *ngFor="let item of social" [value]="item.Id">{{item.Descripcion}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100 mb-3" appearance="outline" color="accent">
                <mat-label>URL</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="URL" required>
            </mat-form-field>
            <button mat-flat-button color="accent" class="mb-3 w-100" type="submit">{{edit? 'Editar':'Crear'}}</button>
            <button mat-stroked-button class="mb-3 w-100" type="button" routerLink="/admin/my-store-social">
                Atrás
            </button>
        </div>
    </div>
</form>