html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff !important;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% de la altura del viewport */
}

nav {
    margin-top: 0px;
    display: flex;
    align-items: center;
}

.iconos {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.btn-Superiores {
    border-radius: 50px;
    border: solid 1px black;
    padding: 5px 5px 0px 5px
}

.hrVertical2 {
    height: 20px;
    width: 1px;
    color: #655c5c;
    background-color: #575252;
}

.porEncima{
    padding-bottom: 10px; 
    transition: color 0.3s ease; 
    
}
.porEncima:hover{
    color:rgb(140,131,251);
    border-bottom: 2px solid rgb(140,131,251); /* Agrega una línea roja como borderBottom */
    transition: color 0.1s ease; 
}

span:hover {
    text-decoration: underline;
    cursor: pointer; /* Opcional: cambia el cursor para indicar que es interactivo */
}

b:hover{
    text-decoration: underline;
    cursor: pointer; /* Opcional: cambia el cursor para indicar que es interactivo */
}

