body {
    background-color: #fff !important;
    margin: 0px;
}

nav {
    margin-top: 0px;
    display: flex;
    align-items: center;
}

.col-5 {
    padding-left: 10px;
    justify-content: space-around;
    flex-direction: row;
    font-size: small;
    display: flex;
}

.iconos {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.btn-Superiores {
    border-radius: 50px;
    border: solid 1px black;
    /* align-items: center; */
    padding: 5px 5px 0px 5px
}

.hrVertical2 {
    height: 20px;
    width: 1px;
    color: #655c5c;
    background-color: #575252;
}

.colorImg{
    color: green;
}
.porEncima{
    padding-bottom: 10px; 
    transition: color 0.3s ease; 
    
}
.porEncima:hover{
    color:rgb(140,131,251);
    border-bottom: 2px solid rgb(177, 174, 212); /* Agrega una línea roja como borderBottom */
    transition: color 0.1s ease; 
    
}
.contenedorImg {
    position: relative;
    overflow: hidden;
    width: 400px; /* Ancho del contenedor */
    height: 400px; /* Altura del contenedor */
}

.imgProduc {
    width: 100%;
    transition: transform 0.5s ease; /* Agrega una transición suave al efecto de zoom */
}

.contenedorProductos{
    display: flex;
    justify-content: space-around;

}
.opciones{
    padding: 10px 10px 5px 10px;
    background-color:  rgb(177, 174, 212);
    border-radius: 20px;
    border: solid 1px rgb(140,131,251);
}
