body {
    background-color: #f0f0f0 !important;
    margin: 0px;
}

nav {
    margin-top: 0px;
    display: flex;
    align-items: center;
}

.col-5 {
    padding-left: 10px;
    justify-content: space-around;
    flex-direction: row;
    font-size: small;
    display: flex;
}

.iconos {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.btn-Superiores {
    border-radius: 50px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 5px 5px 0px 5px
}
.cardss{
    width: 15rem;
}

.txtPrecios{
    font-size: medium; 
    display: block;
}

.txtPrecios2{
    font-size: x-small; 
    background-color: bisque;
}

.productos {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: x-small;
}

.imgProductos {
    height: 70px;
    width: 100px;
}

.containImgProduc {
    width: 130px;
    height: 80px;
    background-color: white;
    border-radius: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recomendaciones {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
    padding: 50px 20px 50px 20px;
}

.hrVertical {
    height: 120px;
    width: 1px;
    color: #655c5c;
    background-color: #655c5c;
}

.hrVertical2 {
    height: 30px;
    width: 1px;
    color: #655c5c;
    background-color: #655c5c;
}

.imgInfo {
    width: 70px;
    height: 70px;
}

.contenedorMarcas {
    background-color: white;
}

.colorImg {
    color: yellow;
}


.txtCenter{
    text-align: center;
}
.porEncima{
    padding-bottom: 10px; 
    transition: color 0.3s ease; 
    
}
.porEncima:hover{
    color:rgb(140,131,251);
    border-bottom: 2px solid rgb(140,131,251); /* Agrega una línea roja como borderBottom */
    transition: color 0.1s ease; 
    
}

/* producto */
.contenedorImg {
    position: relative;
    overflow: hidden;
    width: 400px; /* Ancho del contenedor */
    height: 400px; /* Altura del contenedor */
}

.imgProduc {
    width: 100%;
    transition: transform 0.5s ease; /* Agrega una transición suave al efecto de zoom */
}

.contenedorProductos{
    display: flex;
    justify-content: space-around;

}
.opciones{
    padding: 5px 5px 0px 5px;
    background-color:  rgb(177, 174, 212);
    border-radius: 20px;
    border: solid 1px rgb(140,131,251);
}






/* Luis */

:root {
    --principal-color: #0b263f;
}

.btn {
    border-radius: 5rem !important;
}

.btn-app {
    background-color: var(--principal-color);
    color: #fff;

    &:hover {
        background-color: #1f3952;
        color: #fff;
    }
}