body {
    background-color: #f0f0f0 !important;
    margin: 0px;
}

nav {
    margin-top: 0px;
    display: flex;
    align-items: center;
}

.logo {
    /* align-items: flex-start; */
    justify-content: space-between;
    display: flex;
    font-size: small;
}

.col-5 {
    padding-left: 10px;
    justify-content: space-around;
    flex-direction: row;
    font-size: small;
    display: flex;
}

.iconos {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.btn-Superiores {
    border-radius: 50px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 5px 5px 0px 5px
}

.productos {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: x-small;
}

.imgProductos {
    height: 70px;
    width: 100px;
}

.containImgProduc {
    width: 130px;
    height: 80px;
    background-color: white;
    border-radius: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recomendaciones {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
    padding: 50px 20px 50px 20px;
}

.hrVertical {
    height: 100px;
    width: 1px;
    border-width: 0;
    color: #655c5c;
    background-color: #575252;
    margin-left: 10px;
    margin-right: 10px;
}

.hrVertical2 {
    height: 20px;
    width: 1px;
    color: #655c5c;
    background-color: #575252;
    margin-left: 10px;
    margin-right: 10px;
}

.imgInfo {
    width: 70px;
    height: 70px;
}

.contenedorMarcas {
    background-color: white;
}

.margenMarcas {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.colorImg {
    color: green;
}

.porEncima {
    display: flex;
    align-items: center;
    /* Centra verticalmente los elementos en el eje transversal */
    justify-content: center;
    padding-bottom: 10px;
    transition: color 0.3s ease;

}

.porEncima:hover {
    color: rgb(140, 131, 251);
    border-bottom: 2px solid rgb(140, 131, 251);
    /* Agrega una línea roja como borderBottom */
    transition: color 0.1s ease;

}




/* Luis */

:root {
    --principal-color: #0b263f;
}

.btn {
    border-radius: 5rem !important;
}

.btn-app {
    background-color: var(--principal-color);
    color: #fff;

    &:hover {
        background-color: #1f3952;
        color: #fff;
    }
}