<div class="bg-color-secondary py-3">
    <div class="container">
        <div class="row">
            <div class="text-white text-center">
                <p class="fs-5 fw-normal">Envíos gratuitos a partir de $300.000 COP</p>
            </div>
            <div class="text-dark text-center">
                <p class="fw-light">*Aplican términos y condiciones. Sujeto a ofertas especiales cada mes.</p>
            </div>
        </div>
    </div>
</div>
<footer class="bg-white">
    <div class="container">
        <div class="row px-5 py-4 w-100">
            <div class="col-12 col-md-3 mb-3">
                <div class="row w-100">
                    <img src="assets/img/logo.jpg" class="w-100" routerLink="/">
                </div>
            </div>
            <div class="col-12 col-md-3 color-primary mb-3">
                <p class="fw-bold h6 mb-2">Contáctanos</p>
                <a href="" class="nav-link mb-2 fw-light">info@vivesucre.com</a>
                <a href="" class="nav-link mb-2 fw-light">Celular: 31000000</a>
            </div>
            <div class="col-12 col-md-3 color-primary mb-3">
                <p class="fw-bold h6 mb-2">Redes</p>
                <a href="" class="nav-link mb-2 fw-light">Facebook</a>
                <a href="" class="nav-link mb-2 fw-light">Instagram</a>
                <a href="" class="nav-link mb-2 fw-light">Whatsapp</a>
            </div>
            <div class="col-12 col-md-3 color-primary mb-3">
                <p class="fw-bold h6 mb-2">Contáctanos</p>
                <a routerLink="/tyc" class="nav-link mb-2 fw-light">Términos y condiciones</a>
                <a href="" class="nav-link mb-2 fw-light">Privacidad</a>
                <a href="" class="nav-link mb-2 fw-light">Nuestra compañía</a>
            </div>

        </div>
    </div>
</footer>
<div class="w-100 bg-color-primary py-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-white text-center"><strong>Vivesucre 2023.</strong> Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="bg-warning py-3">
    <div class="container">
        <div class="row w-100">
            <div class="text-white text-center">
                <img src="./iconos/envios.png" alt="" width="20px" height="20px">
                <small class="fs-6 fw-normal">Envios gratuitos a partir de 1'000.000 COP para pagos online</small>
            </div>
            <div class="text-dark text-center">
                <small class="fw-light">*Aplican términos y condiciones. Sujeto a ofertas
                    especiales cada mes.</small>
            </div>
        </div>
    </div>
</div>
<footer class="bg-secondary">
    <div class="container">
        <div class="row px-5 py-4 w-100">
            <div class="col-12 col-md-4 d-flex justify-content-center align-items-start">
                <div class="row w-100">
                    <a routerLink="/"> <img src="https://seeri.co/logo_white.svg" alt="" class="w-75"></a>

                </div>
            </div>
            <div class="col-12 col-md-3 text-white px-4">
                <div class="row w-100 d-flex flex-column align-items-start">
                    <h6 class="fw-bold">Contáctanos</h6>
                    <div><a href="" class="nav-link mb-2 fw-light">orlando@gmail.com</a></div>
                    <div class=" fw-light">Celular: 3023984726</div>
                    <div class="d-flex gap-3 py-2">
                        <a routerLink=""><i class='bx bxl-whatsapp bx-sm colorImg'></i></a>
                        <a routerLink=""><i class='bx bxl-facebook bx-sm colorImg'></i></a>
                        <a routerLink=""><i class='bx bxl-linkedin bx-sm colorImg'></i></a>
                        <a routerLink=""><i class='bx bxl-instagram bx-sm colorImg'></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="row w-100">
                    <a routerLink="" class="nav-link">
                        <div class="text-white">
                            <small>Privacidad</small>
                        </div>
                    </a>
                    <a routerLink="" class="nav-link">
                        <div class="text-white">
                            <small>Términos y condiciones</small>
                        </div>
                    </a>
                    <a routerLink="" class="nav-link">
                        <div class="text-white">
                            <small>Nuestra compañía</small>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="row w-100">
                    <p class="text-white fw-bolder">
                        Descarga nuestra app
                        Gestiona y haz seguimiento de tus pedidos.
                        ¡Fácil, rápido y seguro!
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="container py-2">
    <div class="row">
        <p class="text-dark text-center"><strong>Seri Tech 2023.</strong>Todos los derechos
            reservados.</p>
    </div>
</div> -->