<h3 class="fw-bold" [style.color]="color6">Mi cuenta</h3>
<div class="d-flex align-items-center flex-column mt-4 gap-1">
    <img src="../../assets/img/logocolor.png" alt="asdasd" class="mb-3 img-fluid">
    <p class="fw-semibold fs-3 text-capitalize">{{user.Nombres}}</p>
    <small class="fw-medium fs-6">{{user.Telefono}}</small>
    <small class="fw-medium fs-6">{{user.Correo}}</small>
</div>
<!-- <a class="d-flex justify-content-center mt-5" [routerLink]="'/admin/editPassword/'+user.UsuarioId">Cambiar clave</a> -->