<app-loading type="bar"></app-loading>
<form [formGroup]="form" (ngSubmit)="change()">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="logo"
                [ngStyle]="{'background-image': 'url(' + (store.Logo != '' ? store.Logo : 'assets/img/logo.jpg' ) + ')'}">
            </div>
            <app-file-saver (urlFile)="store.Logo = $event" path="marca" [isString]="true" title="Subir logo"
                [showImages]="false">
            </app-file-saver>
        </div>
        <div class="col-12 col-md-8">
            <div class="portada"
                [ngStyle]="{'background-image': 'url(' + (store.Portada != '' ? store.Portada : 'assets/img/logo.jpg' ) + ')'}">
            </div>
            <app-file-saver (urlFile)="store.Portada = $event" path="marca" [isString]="true" title="Subir portada"
                [showImages]="false">
            </app-file-saver>
        </div>

        <div class="col-12 col-md-6 d-flex flex-column">
            <mat-form-field class="w-100 mb-3" appearance="outline" color="accent">
                <mat-label>Nombre de la tienda</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="Descripcion" required>
            </mat-form-field>
            <mat-form-field class="w-100 mb-3" appearance="outline" color="accent">
                <mat-label>Biografia</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="Biografia" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100 mb-3" color="accent">
                <mat-label>Categoría</mat-label>
                <mat-select formControlName="CategoriaId">
                    <mat-option *ngFor="let item of categorias" [value]="item.Id">{{item.Descripcion}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12">
            <div class="d-flex justify-content-center">
                <button mat-flat-button color="primary" aparence="outline" class="mt-5" type="submit">
                    Guardar informacion
                </button>
            </div>
        </div>
    </div>

</form>


<pre>{{form.value | json}}</pre>