.banner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .img_Logo {
    height: 150px;
    width: 150px;
    object-fit: contain;
    position: absolute;
    bottom: -50px;
    border-radius: 150px;
  }
  
  .textBiografia{
    text-align: justify;
    font-weight: 'medium';
  }