<div class="w-100 d-flex flex-row justify-content-between mb-3">
    <div>
        <h3 class="fw-bold" [style.color]="color6">Analisis de tu tienda</h3>
        <p>Breve resumen sobre los datos mas importantes y necesarios</p>
    </div>
    <!-- <app-components-title-subtitle title="Analisis de tu tienda"
        subtitle="Breve resumen sobre los datos mas importantes y necesarios"
        justify="start"></app-components-title-subtitle> -->
    <div class="d-flex flex-row flex-wrap align-items-center justify-content-between gap-3">
        <form [formGroup]="buscador" novalidate>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Ingresa la fecha</mat-label>
                <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
                    <input matStartDate formControlName="fechaInicial" [max]="maxDate" placeholder="fecha Inicio">
                    <input matEndDate formControlName="fechaFinal" [max]="maxDate" placeholder="fecha Fin">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> <mat-date-range-picker #picker>
                </mat-date-range-picker>
            </mat-form-field>
        </form>
        <button (click)="buscar()" mat-flat-button class="fw-semibold" [style.color]="color5"
            [style.backgroundColor]="color2">Buscar</button>
    </div>
</div>
<div *ngIf="loading">
    <app-loading></app-loading>
</div>
<div *ngIf="!loading">
    <div class="row">
        <div class="col-4 mt-3" *ngIf="active2">
            <div class="card-informativo py-3 rounded-1 h-100 border-bottom">
                <div class=" d-flex justify-content-center align-items-center">
                    <strong class="fs-3">${{ventas.Total | number}}</strong>
                </div>
                <div class=" d-flex justify-content-center">
                    Total vendido
                </div>
            </div>
        </div>
        <div class="col-4 mt-3" *ngIf="active2">
            <div class="card-informativo py-3 rounded-1 h-100 border-bottom">
                <div class=" d-flex justify-content-center align-items-center">
                    <strong class="fs-3">${{data.VentasMasAlta | number}}</strong>
                </div>
                <div class=" d-flex justify-content-center">
                    <small>Venta mas alta</small>
                </div>
            </div>
        </div>
        <div class="col-4 mt-3" *ngIf="active2">
            <div class="card-informativo py-3 rounded-1 h-100 border-bottom">
                <div class=" d-flex justify-content-center align-items-center">
                    <strong class="fs-3">${{data.VentasMasBaja | number}}</strong>
                </div>
                <div class=" d-flex justify-content-center">
                    <small>Venta mas baja</small>
                </div>
            </div>
        </div>
        <div class="col-4 mt-3" *ngIf="active2">
            <div class="card-informativo py-3 rounded-1 h-100 border-bottom">
                <div class=" d-flex justify-content-center align-items-center">
                    <strong class="fs-3">${{data.PromedioCompras | number}}</strong>
                </div>
                <div class=" d-flex justify-content-center">
                    <small>Promedio de compra</small>
                </div>
            </div>
        </div>
        <div class="col-4 mt-3" *ngIf="active2">
            <div class="card-informativo py-3 rounded-1 border-bottom">
                <div class=" d-flex justify-content-center align-items-center">
                    <strong class="fs-3">{{ventas.Cantidad}}</strong>
                </div>
                <div class=" d-flex justify-content-center">
                    <small>Venta mas realizadas</small>

                </div>
            </div>
        </div>
    </div>
    <div class="row gap-3 px-4">
        <div class="col d-flex flex-column mt-4 card-informativo rounded-1 py-2">
            <div class="fs-4 fw-semibold text-center">Productos mas vendidos</div>
            <table class="table table-striped border">
                <thead>
                    <tr>
                        <th class="text-center">Producto</th>
                        <th class="text-center">Cantidad vendidas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of producMasVendidos ; index as index">
                        <td class="text-center">{{item.Descripcion}}</td>
                        <td class="text-center">{{item.Cantidad}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col d-flex flex-column mt-4 card-informativo rounded-1 py-2">
            <div class="fs-4 fw-semibold text-center">Pedidos por dias</div>
            <table class="table table-striped border">
                <thead>
                    <tr>
                        <th class="text-center">Dia</th>
                        <th class="text-center">Cantidad vendidas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pedidosPorDia ; index as index">
                        <td class="text-center">{{item.NombreDiaSemana}}-{{item.DiaSemana}}</td>
                        <td class="text-center">{{item.CantidadVentas}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>