<app-nav></app-nav>
<div class="container bg-white border-start border-end">
    <div class="row">
        <div class="col-12 col-md-2 py-3">
            <div class="d-flex flex-column gap-3">
                <h3 class="fw-bold color-primary">Usuario</h3>
                <a routerLink="/admin/my-info" [routerLinkActive]="'color-secondary fw-bold'"
                    class="color-primary text-decoration-none hv-secondary">
                    Mi cuenta
                </a>
                <a routerLink="/admin/my-orders" [routerLinkActive]="'color-secondary fw-bold'"
                    class="color-primary text-decoration-none hv-secondary">
                    Mis pedidos
                </a>
                <a routerLink="/admin/my-address" [routerLinkActive]="'color-secondary fw-bold'"
                    class="color-primary text-decoration-none hv-secondary">
                    Mis direcciones
                </a>
                <a routerLink="/" (click)="logout()" class="color-primary text-decoration-none hv-secondary">
                    Salir
                </a>
                <hr>
                <ng-container *ngIf="stores.length > 0">
                    <h3 class="fw-bold color-primary">Tienda</h3>
                    <a routerLink="/admin/my-store-profile" [routerLinkActive]="'color-secondary fw-bold'"
                        class="color-primary text-decoration-none hv-secondary">
                        Mi perfil
                    </a>

                    <a routerLink="/admin/my-store-locations" [routerLinkActive]="'color-secondary fw-bold'"
                        class="color-primary text-decoration-none hv-secondary">
                        Mis sucursales
                    </a>
                    <a routerLink="/admin/my-store-social" [routerLinkActive]="'color-secondary fw-bold'"
                        class="color-primary text-decoration-none hv-secondary">
                        Mis Redes
                    </a>
                    <a routerLink="/admin/my-store-categories" [routerLinkActive]="'color-secondary fw-bold'"
                        class="color-primary text-decoration-none hv-secondary">
                        Mis categorias
                    </a>
                    <a routerLink="/admin/my-store-items" [routerLinkActive]="'color-secondary fw-bold'"
                        class="color-primary text-decoration-none hv-secondary">
                        Mis productos
                    </a>
                    <a routerLink="/admin/my-store-orders" [routerLinkActive]="'color-secondary fw-bold'"
                        class="color-primary text-decoration-none hv-secondary">
                        Mis pedidos
                    </a>
                </ng-container>
                <button color="primary" routerLink="/admin/new-store" mat-flat-button *ngIf="stores.length ==0 ">
                    Crear tienda
                </button>
            </div>
        </div>
        <div class="col-12 col-md-10 py-3 border-start">
            <router-outlet></router-outlet>
            <!-- <pre>{{MainService.AuthService.dataUser | json}}</pre> -->
            <!-- <pre>{{MainService.AuthService.dataStore | json}}</pre> -->
        </div>
    </div>
</div>
<app-components-footer></app-components-footer>