<app-nav></app-nav>
<div class="container bg-white border-start border-end">
    <div class="row">
        <div class="col-12 col-md-2 py-3">
            <div class="d-flex flex-column gap-3">
                <h3 class="fw-bold" [style.color]="color6">Usuario</h3>
                <a routerLink="/admin/my-info" [routerLinkActive]="'color-secondary fw-bold'"
                    class="text-decoration-none hv-secondary" [style.color]="color6">
                    Mi cuenta
                </a>
                <a routerLink="/admin/my-orders" [routerLinkActive]="'color-secondary fw-bold'"
                    class="text-decoration-none hv-secondary" [style.color]="color6">
                    Mis pedidos
                </a>
                <a routerLink="/" (click)="logout()" class="text-decoration-none hv-secondary" [style.color]="color6">
                    Salir
                </a>
                <hr>
                <ng-container *ngIf="stores.length > 0">
                    <h3 class="fw-bold" [style.color]="color6">Tienda</h3>
                    <a routerLink="/admin/my-store" [routerLinkActive]="'color-secondary fw-bold'"
                        class="text-decoration-none hv-secondary" [style.color]="color6">
                        Mi tienda
                    </a>
                    <a routerLink="/admin/my-store-profile" [routerLinkActive]="'color-secondary fw-bold'"
                        class="text-decoration-none hv-secondary" [style.color]="color6">
                        Mi perfil
                    </a>
                    <a routerLink="/admin/my-store-locations" [routerLinkActive]="'color-secondary fw-bold'"
                        class="text-decoration-none hv-secondary" [style.color]="color6">
                        Mis sucursales
                    </a>
                    <a routerLink="/admin/my-store-social" [routerLinkActive]="'color-secondary fw-bold'"
                        class="text-decoration-none hv-secondary" [style.color]="color6">
                        Mis Redes
                    </a>
                    <a routerLink="/admin/my-store-categories" [routerLinkActive]="'color-secondary fw-bold'"
                        class="text-decoration-none hv-secondary" [style.color]="color6">
                        Mis categorias
                    </a>
                    <a routerLink="/admin/my-store-items" [routerLinkActive]="'color-secondary fw-bold'"
                        class="text-decoration-none hv-secondary" [style.color]="color6">
                        Mis productos
                    </a>
                    <a routerLink="/admin/my-store-orders" [routerLinkActive]="'color-secondary fw-bold'"
                        class="text-decoration-none hv-secondary" [style.color]="color6">
                        Mis pedidos
                    </a>
                </ng-container>
                <!-- <button mat-flat-button [style.background]="color3" routerLink="/admin/new-store"
                    *ngIf="stores.length ==0 ">
                    Crear tienda
                </button> -->
            </div>
        </div>
        <div class="col-12 col-md-10 py-3 border-start">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-components-footer></app-components-footer>