<app-nav></app-nav>
<div class="container my-5">
    <app-components-title-subtitle *ngIf="pedido && pedido.Id"
        [title]="'Pedido '+ pedido.Id.substring(pedido.Id.length - 5) + ' - ' + pedido.Nombres + ' - ' + pedido.EstadoPedido "
        justify="start"></app-components-title-subtitle>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12 col-md-8">
                <div *ngFor="let item of pedido.Items"
                    class="d-flex flex-row justify-content-between card mb-2 px-4 py-2 gap-3">
                    <div class="w-25">
                        <img [src]="item.ImagenUrl" alt="Img produc" style="width: 70px;">
                    </div>
                    <div class="w-25">
                        <div class="fw-semibold mb-1">Producto</div>
                        <p class=" fw-medium">{{item.Nombre}}</p>
                        <p class="fw-medium">${{(item.Valor | number)}}</p>
                    </div>
                    <div class="w-25">
                        <div class="fw-semibold text-center mb-1">Cantidad</div>
                        <p class="text-center fw-medium">{{item.Cantidad}}</p>
                    </div>
                    <div class="w-25 gap-3 d-flex flex-column">
                        <div>
                            <div class="fw-semibold text-center mb-1">Descuento</div>
                            <p class="text-danger fw-medium text-center"><s>{{'$'+(item.Descuento | number)}}</s></p>
                        </div>
                        <div>
                            <div class="fw-semibold text-center mb-1">Precio total</div>
                            <p class="text-success text-center fw-bold">${{(item.Total | number)}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body d-flex flex-column gap-2">
                        <p class="fw-semibold fs-4">Detalles del pedido</p>
                        <div class="d-flex justify-content-between flex-row">
                            <div class="fw-semibold">Nombre:</div>
                            <div>{{pedido.Nombres}}</div>
                        </div>
                        <div class="d-flex justify-content-between flex-row">
                            <div class="fw-semibold">Dirección:</div>
                            <div>{{pedido.Direccion}}</div>
                        </div>
                        <div class="d-flex justify-content-between flex-row">
                            <div class="fw-semibold">Telefono:</div>
                            <div>{{pedido.Telefono}}</div>
                        </div>
                        <div class="d-flex justify-content-between flex-row">
                            <div class="fw-semibold">Correo:</div>
                            <div>{{pedido.Correo}}</div>
                        </div>
                        <div class="d-flex justify-content-between flex-row">
                            <div class="fw-semibold">Subtotal:</div>
                            <div class="fw-medium">${{(pedido.Valor | number)}}</div>
                        </div>
                        <div class="d-flex justify-content-between flex-row">
                            <div class="fw-semibold">Descuento:</div>
                            <div class="text-danger fw-medium"><s>${{(pedido.Descuento | number)}}</s></div>
                        </div>
                        <div class="d-flex justify-content-between flex-row">
                            <div class="fw-semibold">Total pedido:</div>
                            <div class="text-success fw-medium fw-semibold"><u>${{(pedido.Total | number)}}</u></div>
                        </div>
                        <div class="d-flex justify-content-between flex-row">
                            <div class="fw-semibold">Estado del pedido:</div>
                            <div class="fw-medium fw-semibold">{{pedido.EstadoPedido}}</div>
                        </div>
                        <div class="d-flex justify-content-between flex-row">
                            <div class="fw-semibold">Estado del pago:</div>
                            <div class="fw-medium fw-semibold">{{pedido.Estado == 'PEN' ? 'PENDIENTE':'PAGADO'}}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row containerRating mt-5 d-flex justify-content-center rounded-1" *ngIf="showRating">
            <div class="py-3 gap-4 d-flex flex-column align-items-center">
                <app-components-title-subtitle title="Califique su experiencia"
                    justify="center"></app-components-title-subtitle>

                <div class="d-flex justify-content-between">
                    <span class="material-symbols-outlined pointer" (click)="setRating(1)"
                    [ngClass]="{'filled': rating >= 1}">
                        star
                    </span>
                    <span class="material-symbols-outlined pointer" (click)="setRating(2)"
                    [ngClass]="{'filled': rating >= 2}">
                        star
                    </span>
                    <span class="material-symbols-outlined pointer" (click)="setRating(3)"
                    [ngClass]="{'filled': rating >= 3}">
                        star
                    </span>
                    <span class="material-symbols-outlined pointer" (click)="setRating(4)"
                    [ngClass]="{'filled': rating >= 4}">
                        star
                    </span>
                    <span class="material-symbols-outlined pointer" (click)="setRating(5)"
                    [ngClass]="{'filled': rating >= 5}">
                        star
                    </span>

                </div>

                <div class="fw-medium">
                    Seleccione con cuantas estrellas desea calificar su experiencia
                </div>


                <mat-form-field class="w-75 mb-3" appearance="outline" color="accent">
                    <mat-label>Descripcion</mat-label>
                    <input matInput type="text" autocomplete="off" [(ngModel)]="description" (input)="setDescription(description)">
                </mat-form-field>
                <button mat-flat-button color="primary" class="w-80" (click)="sendRating()">Enviar Calificación
                </button>

            </div>
        </div>
    </div>
</div>

<app-components-footer></app-components-footer>