<app-components-title-subtitle *ngIf="ped && ped.Id"
    [title]="'Pedido '+ ped.Id.substring(ped.Id.length - 5) + ' - ' + ped.Nombres + ' - ' + ped.EstadoPedido "
    justify="start"></app-components-title-subtitle>
<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-md-8">
            <div *ngFor="let item of ped.Items"
                class="d-flex flex-row justify-content-between card mb-2 px-4 py-2 gap-3">
                <div class="w-25">
                    <img [src]="item.ImagenUrl" alt="Img produc" style="width: 70px;">
                </div>
                <div class="w-25">
                    <div class="fw-semibold mb-1">Producto</div>
                    <p class=" fw-medium">{{item.Nombre}}</p>
                    <p class="fw-medium">${{(item.Valor | number)}}</p>
                </div>
                <div class="w-25">
                    <div class="fw-semibold text-center mb-1">Cantidad</div>
                    <p class="text-center fw-medium">{{item.Cantidad}}</p>
                </div>
                <div class="w-25 gap-3 d-flex flex-column">
                    <div>
                        <div class="fw-semibold text-center mb-1">Descuento</div>
                        <p class="text-danger fw-medium text-center"><s>{{'$'+(item.Descuento | number)}}</s></p>
                    </div>
                    <div>
                        <div class="fw-semibold text-center mb-1">Precio total</div>
                        <p class="text-success text-center fw-bold">${{(item.Total | number)}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body d-flex flex-column gap-2">
                    <p class="fw-semibold fs-4">Detalles del pedido</p>
                    <div class="d-flex justify-content-between flex-row">
                        <div class="fw-semibold">Nombre:</div>
                        <div>{{ped.Nombres}}</div>
                    </div>
                    <div class="d-flex justify-content-between flex-row">
                        <div class="fw-semibold">Dirección:</div>
                        <div>{{ped.Direccion}}</div>
                    </div>
                    <div class="d-flex justify-content-between flex-row">
                        <div class="fw-semibold">Telefono:</div>
                        <div>{{ped.Telefono}}</div>
                    </div>
                    <div class="d-flex justify-content-between flex-row">
                        <div class="fw-semibold">Correo:</div>
                        <div>{{ped.Correo}}</div>
                    </div>
                    <div class="d-flex justify-content-between flex-row">
                        <div class="fw-semibold">Subtotal:</div>
                        <div class="fw-medium">${{(ped.Valor | number)}}</div>
                    </div>
                    <div class="d-flex justify-content-between flex-row">
                        <div class="fw-semibold">Descuento:</div>
                        <div class="text-danger fw-medium"><s>${{(ped.Descuento | number)}}</s></div>
                    </div>
                    <div class="d-flex justify-content-between flex-row">
                        <div class="fw-semibold">Total pedido:</div>
                        <div class="text-success fw-medium fw-semibold"><u>${{(ped.Total | number)}}</u></div>
                    </div>
                    <div class="d-flex justify-content-between flex-row">
                        <div class="fw-semibold">Estado del pedido:</div>
                        <div class="fw-medium fw-semibold">{{ped.EstadoPedido}}</div>
                    </div>
                    <div class="d-flex justify-content-between flex-row">
                        <div class="fw-semibold">Estado del pago:</div>
                        <div class="fw-medium fw-semibold">{{ped.Estado == 'PEN' ? 'PENDIENTE':'PAGADO'}}</div>
                    </div>
                </div>
            </div>
            <mat-form-field appearance="outline" class="w-100 mt-3" color="accent">
                <mat-label>Estado del pedido</mat-label>
                <mat-select [(ngModel)]="EstadoPedido">
                    <mat-option *ngFor="let item of ['PENDIENTE','ENVIADO','ANULADO','RECIBIDO']"
                        [value]="item">{{item}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100 mt-3" color="accent">
                <mat-label>Pago del pedido</mat-label>
                <mat-select [(ngModel)]="Estado">
                    <mat-option *ngFor="let item of ['PENDIENTE','PAGADO']" [value]="item">{{item}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-flat-button color="primary" class="w-100 my-3" (click)="updateStatus()">ACTUALIZAR PEDIDO
            </button>
        </div>
    </div>
</div>