/* Agrega estilos de desplazamiento personalizados */
::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */
}

/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: #4CAF50; /* Color de fondo de la barra de desplazamiento */
    border-radius: 5px; /* Bordes redondeados de la barra de desplazamiento */
}

/* Estilo del fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo de la barra de desplazamiento */
}

/* Cambia el cursor al pasar sobre la barra de desplazamiento */
::-webkit-scrollbar-thumb:hover {
    background-color: #085b0d; /* Cambia el color al pasar el ratón sobre la barra de desplazamiento */
}

.card2 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Cambia los valores según tus preferencias */
    transition: box-shadow 0.3s ease; /* Agrega una transición suave al sombreado */
}

.card2:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
}
