<div class="d-md-none">
    <div class="row">
        <div class="d-flex justify-content-center align-items-center">
            <div class="div w-75 h-100" *ngIf="currentCardIndex === 0">
                <div class="w-100 bg-white rounded-5 py-2 px-4">
                    <div class="d-flex flex-column align-items-center">
                        <div class="fw-semibold fs-5">Ingresa a tu cuenta</div>
                        <img src="../../assets/img/documento.png" alt="" class="w-25 h-25 py-3">
                        <div class="fw-medium fs-6 pb-3 text-center">Disftura de ofertas y compras sin limite.</div>
                        <button class="btn fw-semibold" [style.background]="color3" routerLink="/login">Ingresa
                            Ahora!</button>
                    </div>
                </div>
            </div>
            <div class="div w-75" *ngIf="currentCardIndex === 1">
                <div class="w-100 bg-white rounded-5 py-2 px-4">
                    <div class="d-flex flex-column align-items-center">
                        <div class="fw-semibold fs-5">Medios de pago seguros</div>
                        <img src="../../assets/img/verificado-2.png" alt="" class="w-25 h-25 py-3">
                        <div class="fw-medium fs-6 pb-3 px-4  text-center">Paga tus compras de manera rapida.
                            Tu compra está protegida!
                        </div>
                        <button class="btn fw-semibold" [style.background]="color3" routerLink="/login">Conoce medios de
                            pagos</button>
                    </div>
                </div>
            </div>
            <div class="div w-75" *ngIf="currentCardIndex === 2">
                <div class="w-100 bg-white rounded-5 py-2 px-4">
                    <div class="d-flex flex-column align-items-center">
                        <div class="fw-semibold fs-5">Apoya el talento local</div>
                        <img src="../../assets/img/acuerdo.png" alt="" class="w-25 h-25 py-3">
                        <div class="fw-medium fs-6 pb-3 text-center">Productos y servicios 100% del caribe.</div>
                        <button class="btn fw-semibold" [style.background]="color3"
                            routerLink="/login">{{nameButtom}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center align-items-center gap-2">
            <button type="button" class="btn fw-bold"
                [ngClass]="{'active-btn': currentCardIndex === 0, 'inactive-btn': currentCardIndex !== 0}"
                aria-current="true" aria-label="Slide 1" (click)="setCardIndex(0)">
                <mat-icon>{{currentCardIndex === 0 ?
                    'radio_button_checked':'radio_button_unchecked'}}</mat-icon>
            </button>
            <button type="button" aria-label="Slide 2" class="btn fw-bold"
                [ngClass]="{'active-btn': currentCardIndex === 1, 'inactive-btn': currentCardIndex !== 1}"
                (click)="setCardIndex(1)">
                <mat-icon>{{currentCardIndex === 1 ?
                    'radio_button_checked':'radio_button_unchecked'}}</mat-icon>
            </button>
            <button type="button" aria-label="Slide 3" class="btn fw-bold"
                [ngClass]="{'active-btn': currentCardIndex === 2, 'inactive-btn': currentCardIndex !== 2}"
                (click)="setCardIndex(2)">
                <mat-icon>{{currentCardIndex === 2 ?
                    'radio_button_checked':'radio_button_unchecked'}}</mat-icon>
            </button>
        </div>
    </div>
</div>







<div class="container-fluid d-none d-md-block">
    <div class="row my-4">
        <div class="col-md-4">
            <div class="bg-white rounded-5 py-2">
                <div class="d-flex flex-column align-items-center">
                    <div class="fw-semibold fs-5">Ingresa a tu cuenta</div>
                    <img src="../../assets/img/documento.png" alt="" class="w-25 h-25 py-3">
                    <div class="fw-medium fs-6 pb-3 text-center">Disftura de ofertas y compras sin limite</div>
                    <button class="btn fw-semibold" [style.background]="color3"
                        routerLink="/login">{{nameButtom}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-white rounded-5 py-2">
                <div class="d-flex flex-column align-items-center">
                    <div class="fw-semibold fs-5">Medios de pago seguros</div>
                    <img src="../../assets/img/verificado-2.png" alt="" class="w-25 h-25 py-3">
                    <div class="fw-medium fs-6 pb-3 text-center">Paga tus compras de manera rapida. Tu compra está
                        protegida!</div>
                    <button class="btn fw-semibold" [style.background]="color3"
                        routerLink="/login">{{nameButtom}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-white rounded-5 py-2">
                <div class="d-flex flex-column align-items-center">
                    <div class="fw-semibold fs-5">Apoya el talento local</div>
                    <img src="../../assets/img/acuerdo.png" alt="" class="w-25 h-25 py-3">
                    <div class="fw-medium fs-6 pb-3 text-center">Productos y servicios 100% del caribe.</div>
                    <button class="btn fw-semibold" [style.background]="color3"
                        routerLink="/login">{{nameButtom}}</button>
                </div>
            </div>
        </div>
    </div>