<app-nav></app-nav>


<div>
    <div class="row w-100 mb-5">
        <div class="col">
            <app-components-card-product></app-components-card-product>
        </div>
        <div class="col">
            <app-components-card-product></app-components-card-product>
        </div>
        <div class="col">
            <app-components-card-product></app-components-card-product>
        </div>
        <div class="col">
            <app-components-card-product></app-components-card-product>
        </div>
    </div>
</div>
<app-components-footer></app-components-footer>