<app-nav></app-nav>
<div class="container bg-white border-end border-start">
    <div class="py-5" *ngIf="loading">
        <app-loading></app-loading>
    </div>
    <div class="row border-bottom" *ngIf="!loading">
        <div class="col-12 col-md-7 border-end py-5">
            <div class="row">
                <div class="col-12 col-md-3 mb-1">
                    <div class="d-flex flex-row flex-md-column gap-2  justify-content-start mt-3">
                        <div *ngFor="let item of item.Imagenes, index as index"
                            [ngStyle]="{'background-image': 'url(' + item.URL + ')'}"
                            [ngClass]="{'opacity-100 border': index == imageSelected}"
                            class="image img-thumbnail pointer" (click)="image = item.URL; imageSelected = index"></div>
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <img class="img-fluid mx-auto" [src]="image" style="max-height: 60vh;">
                </div>
            </div>

        </div>
        <div class="col-12 col-md-5 py-5 px-3">
            <div class="row">
                <div class="col-12">
                    <div class="f-14 fw-medium" [style]="color5"> Vendido y enviado por:</div>
                    <p class="fw-bold f20 pointer text-decoration-underline text-uppercase" [style.color]="color3"
                        [routerLink]="'/store/'+item.Producto.TiendaId">{{item.Producto.Tienda}}</p>
                    <p class="fw-bold f14 color-primary mb-3 ">{{item.Producto.Descripcion}}</p>
                    <div class="w-100 d-flex flex-row justify-content-between align-items-center"
                        *ngIf="item.Producto.Descuento > 0">
                        <p>Valor: </p>
                        <p>${{item.Producto.Valor | number}}</p>
                    </div>
                    <div class="w-100 d-flex flex-row justify-content-between align-items-center"
                        *ngIf="item.Producto.Descuento > 0">
                        <p>Descuento: </p>
                        <p class="text-danger fw-bold">%{{item.Producto.Descuento}} (${{item.Producto.Descuento/100 *
                            item.Producto.Valor | number}})</p>
                    </div>
                    <div class="w-100 align-items-center">
                        <p class="f18 fw-bold" [style.color]="color1">Ahora: ${{item.Producto.Valor -
                            (item.Producto.Descuento/100 * item.Producto.Valor) | number}}</p>
                    </div>

                    <div class="w-100 mt-3">
                        <button [style.backgroundColor]="color3" (click)="add()"
                            class="w-100 no-border d-flex justify-content-center align-items-center py-1">
                            <mat-icon>add_shopping_cart</mat-icon>
                            <span>Agregar al carrito</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row margintop">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row align-items-center gap-3">
                        <div>
                            <img [src]="item.Producto.LogoTienda" alt="Logo tienda" class="imageDos">
                        </div>
                        <div>
                            <a href="" [routerLink]="'/store/'+item.Producto.TiendaId" class="btn pointer"
                                [style.color]="color3">
                                Conoce mas productos de <strong class="text-uppercase">{{item.Producto.Tienda}}</strong>
                            </a>
                        </div>
                    </div>
                    <div class="mt-4 border-bottom border-black w-100">
                        <div class="f20 fw-semibold" [style.color]="color5">Sobre el producto</div>
                        <p class="fw-light f14 mb-3" [style.color]="color5">
                            "{{item.Producto.Observacion}}"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <app-components-title-subtitle title="Te puede interesar" justify="start">
            </app-components-title-subtitle>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-6 col-md-3" *ngFor="let item of itemsToo">
            <app-components-card-product [item]="item"></app-components-card-product>
        </div>
    </div>
</div>

<app-components-footer></app-components-footer>