<app-nav></app-nav>
<div class="container bg-white border-end border-start">
    <div class="py-5" *ngIf="loading">
        <app-loading></app-loading>
    </div>
    <div class="row border-bottom" *ngIf="!loading">
        <div class="col-12 col-md-7 d-flex flex-column justify-content-center border-end py-5">
            <img class="img-fluid mx-auto" [src]="image" style="max-height: 50vh;">
            <div class="d-flex flex-row gap-2  justify-content-start mt-3">
                <div *ngFor="let item of item.Imagenes, index as index"
                    [ngStyle]="{'background-image': 'url(' + item.URL + ')'}"
                    [ngClass]="{'opacity-100 border': index == imageSelected}" class="image img-thumbnail pointer"
                    (click)="image = item.URL; imageSelected = index"></div>
            </div>
        </div>
        <div class="col-12 col-md-5 py-5 px-3">

            <p class="fw-bold f28 color-secondary pointer text-decoration-underline"
                [routerLink]="'/store/'+item.Producto.TiendaId">{{item.Producto.Tienda}}</p>

            <p class="fw-bold f18 color-primary mb-3">{{item.Producto.Descripcion}}</p>
            <p class="fw-light f14 mb-3">{{item.Producto.Observacion}}</p>

            <div class="w-100 d-flex flex-row justify-content-between align-items-center">
                <p>Valor: </p>
                <p>${{item.Producto.Valor | number}}</p>
            </div>
            <div class="w-100 d-flex flex-row justify-content-between align-items-center"
                *ngIf="item.Producto.Descuento > 0">
                <p>Descuento: </p>
                <p class="text-danger fw-bold">%{{item.Producto.Descuento}} (${{item.Producto.Descuento/100 *
                    item.Producto.Valor | number}})</p>
            </div>
            <div class="w-100 d-flex flex-row justify-content-between align-items-center">
                <p>Total: </p>
                <p class="f18 color-secondary fw-bold">${{item.Producto.Valor -
                    (item.Producto.Descuento/100 * item.Producto.Valor) | number}}</p>
            </div>

            <div class="d-flex flex-row justify-content-end mt-3">
                <button mat-flat-button color="accent" (click)="add()">
                    <mat-icon>add_shopping_cart</mat-icon>
                    <span>Añadir al carrito</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <app-components-title-subtitle title="Mira también" subtitle="Mira estos productos, podrían interesarte"
                justify="start">
            </app-components-title-subtitle>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-6 col-md-3" *ngFor="let item of itemsToo">
            <app-components-card-product [item]="item"></app-components-card-product>
        </div>
    </div>
</div>

<app-components-footer></app-components-footer>