<div class="container">
    <div class="row py-4">
        <div class="col-3 d-flex align-items-center">
            <img [src]="producto.img" alt="" class="imgProduc pointer" routerLink="/item">
        </div>
        <div class="col-9">
            <!-- en ese div de arriba iria un flex para que me tome el align-i-end de 
                la linea 13 pero si lo coloco me coge todo el ancho de la columna y no se por que -->
            <div class="w-100 mb-2 pointer" routerLink="/item">{{producto.nombre}}</div>
            <div class="fw-semibold fs-4">${{producto.precio}}</div>
            <div class="fw-light text-success">{{producto.descuento}}</div>

            <button mat-flat-button [style.color]="color6" [style.backgroundColor]="color2"
                class="mt-3 d-flex align-items-end" (click)="add()">
                Agregar al carrito
            </button>
        </div>
    </div>
</div>