.portada {
    width: 100%;
    height: 15vh;
    border-end-end-radius: 12px;
    border-end-start-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
}


.logo {
    width: 13vh;
    height: 13vh;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
    margin-bottom: 10px;
    border: 3px solid #74E65A;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
}

.item-store2 {
    height: 40px;
    color: #70555F !important;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    border-radius: 12px !important;
    padding: 0px 10px;
    border: 1px solid !important;
}

.item-store:hover {
    transition: 0.5s;
    background-color: #74E65A;
    color: white !important;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.fs-66 {
    font-size: 14px;
}

.inputsButton {
    text-align: center;
    color: black;
    font-weight: 700;
    cursor: pointer;
    /* Corregido: la propiedad correcta es "cursor" y no "pointer" */
}

.categoryBackground {
    background: #74E65A;
    color: #fff !important;
}

@media (max-width: 768px) {

    .container-category {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        /* margin-left: 10px;
        margin-right: 20px; */
    }

    .container-category::-webkit-scrollbar {
        height: 5px;
    }

    .container-category::-webkit-scrollbar-thumb {
        background-color: #ED144C;
        border-radius: 10px;
    }

    .container-category::-webkit-scrollbar-track {
        background: #c59ba5;
        border-radius: 20px;

    }


}