<app-nav></app-nav>
<div class="py-5" *ngIf="loading">
    <app-loading></app-loading>
</div>
<div class="container" *ngIf="!loading">
    <div class="row">
        <div class="col-12 col-md-3 pt-3 mb-3">
            <div class="portada" [ngStyle]="{'background-image': 'url(' + info.Tienda.Portada + ')'}"></div>
            <div [ngStyle]="getLogoStyles()"></div>
            <p class="fw-bold f18 text-center text-uppercase">{{info.Tienda.Descripcion}}</p>
            <p class="fw-light f16 text-center mb-3 ">{{info.Tienda.Biografia}}</p>
            <!-- <div class="d-none d-md-inline"> -->
            <app-components-title-subtitle title="Categorías" justify="start"></app-components-title-subtitle>
            <div class="d-flex flex-row flex-md-column mb-3 container-category" style="overflow-x: auto;">
                <div class="d-none d-md-block">
                    <div class="pointer item-store py-2 px-3 d-flex justify-content-between"
                        (click)="cargar(); setActiveItem('all');setDescripcionItem('Todas')">
                        Todas
                        <mat-icon *ngIf="activeItem === 'all'"
                            style="font-size: 15px; padding-top: 4px;">push_pin</mat-icon>
                    </div>
                </div>
                <div class="d-md-none d-block">
                    <div class="pointer item-store2 border border-black rounded-2 fw-semibold mb-1"
                        (click)="cargar(); setActiveItem('all');setDescripcionItem('Todas')"
                        [ngClass]="{'categoryBackground': activeItem === 'all'}">
                        Todas
                    </div>
                </div>
                <div class="d-none d-md-block d-flex flex-column">
                    <div class="pointer item-store py-2 px-3 d-flex justify-content-between"
                        *ngFor="let item of info.SubCategorias; index as index;"
                        (click)="load_items_subcategory(item.Descripcion); setActiveItem(index); setDescripcionItem(item.Descripcion)">
                        {{item.Descripcion}}
                        <mat-icon *ngIf="activeItem === index"
                            style="font-size: 15px; padding-top: 4px;">push_pin</mat-icon>
                    </div>
                </div>
                <div class="d-md-none d-block d-flex flex-row">
                    <div class="pointer item-store2 border border-black rounded-2 fw-semibold mb-1"
                        *ngFor="let item of info.SubCategorias; index as index;"
                        (click)="load_items_subcategory(item.Descripcion); setActiveItem(index); setDescripcionItem(item.Descripcion)"
                        [ngClass]="{'categoryBackground': activeItem === index}">
                        {{item.Descripcion}}
                    </div>
                </div>
            </div>
            <app-components-title-subtitle title="Sucursales" justify="start"></app-components-title-subtitle>
            <div class="d-flex flex-column mb-3">
                <div>
                    <div class="pointer item-store py-2 px-3 d-flex justify-content-between text-uppercase"
                        *ngFor="let item of info.Sucursales; index as index;" (click)="showBranch(index)">
                        {{item.Descripcion}}
                        <mat-icon *ngIf="this.show === true"
                            style="font-size: 15px; padding-top: 4px;">push_pin</mat-icon>
                    </div>
                </div>
                <div class="py-2 px-3" *ngIf="show" [innerHtml]="messageBranch" class="px-4 text-capitalize fs-66">
                </div>
            </div>
            <!-- </div> -->
            <div *ngIf="info.RedesSociales.length > 0">
                <app-components-title-subtitle title="Redes sociales" justify="start"></app-components-title-subtitle>
                <div class="d-flex flex-row flex-md-column container-category">
                    <div class="d-none d-md-block d-flex flex-column">
                        <div class="pointer item-store py-2 px-3"
                            *ngFor="let item of info.RedesSociales; index as index;">
                            <a class="text-dark text-decoration-none w-100 d-block" [href]="item.URL"
                                target="_blank">{{item.RedSocial}}</a>
                        </div>
                    </div>
                    <div class="d-md-none d-block d-flex flex-row">
                        <div class="pointer item-store2 border border-black rounded-2 mb-1" style="overflow-x: auto;"
                            *ngFor="let item of info.RedesSociales; index as index;">
                            <a class="text-dark text-decoration-none w-100 d-block" [href]="item.URL"
                                target="_blank">{{item.RedSocial}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9 pt-3">
            <div class="row mb-3">
                <div class="col-12 d-flex flex-row justify-content-between">
                    <app-components-title-subtitle title="Productos" justify="start"></app-components-title-subtitle>
                    <mat-form-field appearance="outline" color="accent" class="" #buscar>
                        <mat-label>Busca productos</mat-label>
                        <input matInput type="text" [(ngModel)]="productSearch" (input)="search(productSearch)">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="search(productSearch)">
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="productsEvery">
                <div class="col-6 col-md-3" *ngFor="let item of items.Productos">
                    <app-components-card-product [item]="item"></app-components-card-product>
                </div>
            </div>
            <div class="row" *ngIf="productForCategory">
                <div class="row mt-5 fw-semibold f20 mx-5" *ngIf="vacio">
                    No se encontraron productos dentro de esta categoria
                </div>
                <div class="col-6 col-md-3" *ngFor="let item of itemsForSubCategory">
                    <app-components-card-product [item]="item"></app-components-card-product>
                </div>
            </div>
            <div class="row" *ngIf="productForSearch">
                <div class="fw-semibold f20" *ngIf="!vacio2">
                    {{this.groupProductSearch.length === 1
                    ? 'Se encontró 1 producto con la palabra "' + productSearch + '"'
                    : 'Se encontraron (' + this.groupProductSearch.length + ') productos con la palabra "' +
                    productSearch + '"'
                    }}
                </div>
                <div class="row mt-5 fw-semibold f20 mx-5" *ngIf="vacio2">
                    No se encontraron productos con la palabra "{{productSearch}}"
                </div>
                <div class="col-6 col-md-3" *ngFor="let item of groupProductSearch">
                    <app-components-card-product [item]="item"></app-components-card-product>
                </div>
            </div>

        </div>
    </div>
</div>
<app-components-footer></app-components-footer>