<app-nav></app-nav>
<div class="py-5" *ngIf="loading">
    <app-loading></app-loading>
</div>
<div class="container" *ngIf="!loading">
    <div class="row">
        <div class="col-12 col-md-3 pt-3 mb-3">
            <div class="portada" [ngStyle]="{'background-image': 'url(' + info.Tienda.Portada + ')'}"></div>
            <div class="logo" [ngStyle]="{'background-image': 'url(' + info.Tienda.Logo + ')'}"></div>
            <p class="fw-bold f18 text-center text-uppercase">{{info.Tienda.Descripcion}}</p>
            <p class="fw-light f16 text-center mb-3 ">{{info.Tienda.Biografia}}</p>
            <div class="d-none d-md-inline">
                <app-components-title-subtitle title="Categorías" justify="start"></app-components-title-subtitle>
                <div class="d-flex flex-column mb-3">
                    <div class="pointer item-store py-2 px-3" *ngFor="let item of info.SubCategorias; index as index;">
                        {{item.Descripcion}}
                    </div>
                </div>
                <app-components-title-subtitle title="Sucursales" justify="start"></app-components-title-subtitle>
                <div class="d-flex flex-column mb-3">
                    <div class="pointer item-store py-2 px-3" *ngFor="let item of info.Sucursales; index as index;">
                        {{item.Descripcion}}
                    </div>
                </div>
            </div>
            <app-components-title-subtitle title="Redes sociales" justify="start"></app-components-title-subtitle>
            <div class="d-flex flex-row flex-md-column justify-content-between mb-3">
                <div class="pointer item-store py-2 px-3" *ngFor="let item of info.RedesSociales; index as index;">
                    <a class="text-dark text-decoration-none" [href]="item.URL" target="_blank">{{item.RedSocial}}</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9 pt-3">
            <div class="row mb-3">
                <div class="col-12 d-flex flex-row justify-content-between">
                    <app-components-title-subtitle title="Productos" subtitle="Estos son los productos de esta tienda"
                        justify="start">
                    </app-components-title-subtitle>
                    <div class="d-flex flex-row justify-content-around gap-3">
                        <mat-form-field appearance="outline" color="accent" class="d-none d-md-inline">
                            <mat-label>Busca productos</mat-label>
                            <input matInput type="text">
                        </mat-form-field>
                        <button mat-flat-button color="primary">Filtro</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-3" *ngFor="let item of items.Productos">
                    <app-components-card-product [item]="item"></app-components-card-product>
                </div>
            </div>
        </div>
    </div>
</div>
<app-components-footer></app-components-footer>