<app-nav></app-nav>
<div class="container">
    <div class="row my-3">
        <div class="col-12">
            <div [ngStyle]="{'height': MainService.CartService.count() == 0 ? '50vh' : ''}"
                [ngClass]="{'d-flex flex-column justify-content-center align-items-center': MainService.CartService.count() == 0}">
                <app-components-title-subtitle
                    [title]="MainService.CartService.count() > 0 ? 'Carrito' : 'Carrito vacio'"
                    subtitle="Este es tu carrito, encuentras los productos divididos por negocio"
                    [justify]="MainService.CartService.count() > 0 ? 'start': 'center'">
                </app-components-title-subtitle>
                <div class="d-flex w-100 flex-row justify-content-center mt-3"
                    *ngIf="MainService.CartService.count() == 0">
                    <button mat-flat-button color="primary" routerLink="/">
                        Ver marketplace
                    </button>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngFor="let business of MainService.CartService.listCart; index as indexBusiness">
        <div class="row mb-5">
            <div class="col-12" *ngIf="business.items.length > 0">
                <div class="card">
                    <div class="card-header bg-color-primary">
                        <p class="text-white fw-normal">
                            Tienda: <span class="pointer fw-bold" [routerLink]="'/store/'+business.TiendaId">
                                {{business.Tienda | uppercase}}</span>
                            - {{business.items.length}} Productos
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3 py-3" *ngFor="let item of business.items; index as indexProduct"
                            [ngClass]="{'border-top':  business.items.length > 1 && indexProduct > 0}">
                            <div
                                class="mb-3 mb-md-0 col-md-4 d-flex flex-row justify-content-center align-items-center">
                                <img [routerLink]="'/item/'+item.Id" [src]="item.Imagen"
                                    class="img-fluid img-thumbnail pointer" style="max-height: 150px;">
                            </div>
                            <div class="mb-3 mb-md-0 col-md-4">
                                <p class="fw-bold f18 color-primary pointer" [routerLink]="'/item/'+item.Id">
                                    {{item.Descripcion}}
                                </p>
                                <p class="fw-light f14 mb-3">{{item.Observacion}}</p>
                                <button mat-flat-button color="warn" (click)="removeItem(indexBusiness,indexProduct)">
                                    Eliminar producto
                                </button>
                            </div>
                            <div class="mb-3 mb-md-0 col-md-4 d-flex flex-column align-items-md-end">
                                <div class="w-100 d-flex flex-row justify-content-between align-items-center">
                                    <p>Valor: </p>
                                    <p>${{item.Valor | number}}</p>
                                </div>
                                <div class="w-100 d-flex flex-row justify-content-between align-items-center">
                                    <p>Descuento: </p>
                                    <p class="text-danger">
                                        %{{item.Descuento}} (${{item.Descuento/100 * item.Valor | number}})
                                    </p>
                                </div>
                                <div class="w-100 d-flex flex-row justify-content-between align-items-center">
                                    <p>Subtotal: </p>
                                    <p>${{item.Valor - (item.Descuento/100 * item.Valor ) | number}} </p>
                                </div>
                                <div class="w-100 d-flex flex-row justify-content-between align-items-center">
                                    <p>Cantidad: </p>
                                    <div class="d-flex flex-row gap-1">
                                        <button *ngIf="item.Cantidad == 1"
                                            (click)="removeItem(indexBusiness,indexProduct)"
                                            class="btn btn-cart-count bg-danger text-white d-flex flex-row justify-content-center align-items-center">
                                            <span class="material-symbols-outlined">
                                                delete
                                            </span>
                                        </button>
                                        <button *ngIf="item.Cantidad > 1"
                                            (click)="item.Cantidad = item.Cantidad - 1; changeCart();"
                                            class="btn btn-cart-count bg-danger text-white d-flex flex-row justify-content-center align-items-center">
                                            <span class="material-symbols-outlined">
                                                remove
                                            </span>
                                        </button>
                                        <input type="tel" class="form-control btn-cart-count" style="width: 50px;"
                                            (change)="changeCart()" [value]="item.Cantidad" readonly>
                                        <button
                                            class="btn btn-cart-count bg-color-secondary text-white d-flex flex-row justify-content-center align-items-center"
                                            (click)="item.Cantidad = item.Cantidad + 1;  changeCart();">
                                            <span class="material-symbols-outlined">
                                                add
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div class="w-100 d-flex flex-row justify-content-between align-items-center">
                                    <p>Total: </p>
                                    <p>
                                        <span class="text-decoration-line-through f12 text-secondary me-1">
                                            ${{(item.Valor * item.Cantidad) | number}}</span>
                                        <span class="color-secondary fw-bold ">
                                            ${{(item.Valor * item.Cantidad) - (item.Descuento/100 * item.Valor *
                                            item.Cantidad) | number}}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4 ms-auto">
                                <p class="d-flex flex-row justify-content-between">
                                    <span class="fw-bold">Subtotal:</span>
                                    <span class="text-end">${{business.subtotal| number}}</span>
                                </p>
                                <p class="d-flex flex-row justify-content-between">
                                    <span class="fw-bold">Descuentos:</span>
                                    <span class="text-end text-danger">- ${{business.discount| number}}</span>
                                </p>
                                <p class="d-flex flex-row justify-content-between">
                                    <span class="fw-bold">Total:</span>
                                    <span class="text-end fw-bold text-success">${{business.total| number}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="card-footer d-flex flex-column flex-md-row justify-content-between gap-3 align-items-center">
                        <div>
                            <p>**Esta checkout se procesa por separado a el resto y pertenece al negocio
                                <span class="pointer fw-bold"
                                    [routerLink]="'/store/'+business.TiendaId">({{business.Tienda
                                    | uppercase}})</span>
                            </p>
                        </div>
                        <div>
                            <button mat-flat-button color="accent" [routerLink]="'/checkout/'+business.TiendaId+'/'+indexBusiness" (click)="press(indexBusiness)">
                                <mat-icon>shopping_cart_checkout</mat-icon>
                                <span>Procesar pedido -> Pagar -> ${{business.total| number}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<app-components-footer></app-components-footer>