<div class="" style="text-align: justify;">
    <h4  class="fw-bolder text-center">Términos y Condiciones</h4> <br>

    <h5 class="fw-semibold mt-3">Introducción</h5>
    <p>Bienvenido a [Nombre de tu Marketplace]. Este sitio web, ubicado en www.[tusitio].com 
        (el "Sitio"), es propiedad de [Tu nombre o el nombre de tu empresa] ("Nosotros", "nos").
        Al acceder y utilizar el Sitio, usted acepta estar sujeto a los siguientes términos y condiciones 
        ("Términos y Condiciones") y a nuestra Política de Privacidad.</p>

    <h5 class="fw-semibold mt-3">Servicios del Marketplace</h5>
    <p>Este Sitio proporciona una plataforma en línea que conecta a vendedores 
        que desean vender bienes y/o servicios con compradores interesados en comprar dichos bienes y/o servicios.
    </p>

 <h5 class="fw-semibold mt-3">Registro</h5>
<p>
    Para acceder a ciertas funciones del Sitio, puede que se le pida que se registre como usuario creando una cuenta.
</p>

 <h5 class="fw-semibold mt-3">Conducta del Usuario</h5>
 <p>
    Como usuario del Sitio, usted se compromete a no: <br>
    - Violar ninguna ley local, estatal, nacional o internacional. <br>
    - Infringir los derechos de terceros en el Sitio. <br>
    - Proporcionar información falsa o engañosa. <br>
 </p>

 <h5 class="fw-semibold mt-3">Terminación</h5>
<p> Nos reservamos el derecho de terminar su acceso al Sitio por cualquier motivo, incluyendo,
     pero no limitado a, violaciones de estos Términos y Condiciones.
</p>

 <h5 class="fw-semibold mt-3">Ley Aplicable</h5>
<p>
    Estos Términos y Condiciones se regirán e interpretarán de acuerdo con las leyes de Colombia.
    Por favor, lea estos Términos y Condiciones cuidadosamente y asegúrese de que los entiende antes
     de utilizar el Sitio. Al utilizar el Sitio, usted acepta estar sujeto a estos Términos y Condiciones.
</p>
</div>