<div class="row mb-3">
    <div class="col-12">
        <button type="button" class="border-file w-100" md-button (click)="imgFileInput.click()">
            Subir imagenes
        </button>
        <input hidden type="file" accept="image/png, image/jpeg" #imgFileInput (change)="onFileSelected($event)" />
    </div>
</div>
<mat-progress-bar class="my-3" mode="determinate" [value]="progress" *ngIf="displayProgress"></mat-progress-bar>
<div *ngIf="showImages">
    <div class="row mb-3">
        <div class="col-12 col-md-4 mb-3" *ngFor="let file of files; index as index">
            <div class="box-file my-3 w-100">
                <div class="image-control" style="background-image: url({{file}});"></div>
            </div>
            <div class="w-100 d-flex">
                <button mat-flat-button color="accent" class="mx-auto" type="button"
                    (click)="remove(index)">Eliminar</button>
            </div>
        </div>
    </div>
</div>