.badge-cart {
    color: white;
    position: absolute;
    background-color: rgb(221, 25, 25);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5px;
    left: 20px;
    font-size: 12px;
    font-weight: 600;
}


.imgCarrito {
    width: 30px;
}