.badge-cart {
    color: white;
    position: absolute;
    background-color: rgb(221, 25, 25);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5px;
    left: 20px;
    font-size: 12px;
    font-weight: 600;
}


.imgCarrito {
    width: 30px;
}

.heightSearch {
    height: 80px;
}

/*.custom-mat-form-field .mat-form-field-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.custom-mat-form-field .mat-form-field-flex {
    height: 100%;
    display: flex;
    align-items: center;
}

.custom-mat-form-field .mat-form-field-infix {
    height: 100%;
    display: flex;
    align-items: center;
}

.custom-mat-form-field input.mat-input-element {
    height: 75%;
    padding: 0 10px;
    align-items: center;
     Asegura que el padding esté presente 
    box-sizing: border-box;
}
*/