<nav class="py-3 border-bottom" [style.backgroundColor]="color1">
    <div class="container">
        <div class="row">
            <div class="col-4 col-md-3 d-flex align-items-center">
                <img [src]="logoBase" style="width: 200px; max-width: 250px;" routerLink="/" class="pointer">
            </div>
            <div class="col-8 col-md-5 d-none d-md-inline">
                <input type="search" class="form-control p-2" placeholder="Busca productos, marcas y más..."
                    [(ngModel)]="searchInput" (keyup.enter)="search()" style="height: 100%;">
            </div>
            <div class="col-8 col-md-4 d-flex flex-row justify-content-end align-items-center gap-3">
                <div class="d-none d-md-inline">
                    <a mat-flat-button color="primary" href="https://quillaemprende.com/" target="_blank"
                        [style.backgroundColor]="color2" [style.color]="color1" class="f18 fw-bold">
                        Haz parte de Quilla Emprende
                    </a>
                </div>
                <!-- <div class="d-inline d-md-none">
                    <button mat-icon-button [style.backgroundColor]="color2" [style.color]="color1" routerLink="/search"
                        (click)="search()">
                        <mat-icon>search</mat-icon>
                    </button>
                </div> -->
                <div class="d-inline d-md-none">
                    <button mat-icon-button [style.backgroundColor]="color2" [style.color]="color1"
                        [routerLink]="isLog ? '/admin' : '/login'">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                </div>
                <div class="d-inline d-md-none">
                    <button mat-icon-button [style.backgroundColor]="color4" [style.color]="color1" routerLink="/cart">
                        <mat-icon>shopping_cart</mat-icon>
                        <span class="badge-cart" *ngIf="MainService.CartService.count() > 0">
                            {{MainService.CartService.count()}}
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 d-flex justify-content-between">
                <div class="d-flex justify-content-md-start justify-content-evenly flex-wrap flex-row gap-3 gap-md-5">
                    <div class="d-md-none d-block w-100">
                        <input type="search" class="form-control p-2 w-100"
                            placeholder="Busca productos, marcas y más..." [(ngModel)]="searchInput"
                            (keyup.enter)="search()" style="height: 100%;">
                        <!-- <mat-form-field class="w-100" appearance="outline"
                            style="background: white; border-radius: 8px; padding: 5px;">
                            <mat-label>Busca productos, marcas y más...</mat-label>
                            <input matInput type="text" [(ngModel)]="searchInput" (keyup.enter)="search()">
                            <button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear" (click)="search()">
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-form-field> -->
                    </div>
                    <a class="fw-semibold text-decoration-none" routerLink="/categories"
                        [style.color]="color4">Categorías</a>
                    <a class="fw-semibold text-decoration-none" routerLink="/stores" [style.color]="color4">Marcas</a>
                    <a class="fw-semibold text-decoration-none" routerLink="/promo" [style.color]="color4">Ofertas
                        especiales</a>
                    <!-- <a class="fw-semibold text-decoration-none d-none d-md-inline" routerLink="/login"
                        [style.color]="color4">
                        Quiero vender, soy una tienda
                    </a> -->
                    <!-- <button mat-flat-button [style.backgroundColor]="color2" [style.color]="color1" routerLink="/login"
                        class="d-inline d-md-none">
                        <span class="fw-bold">Quiero vender, soy una tienda</span>
                    </button> -->
                </div>
                <div class="d-none d-md-inline">
                    <div class="d-flex gap-3">
                        <a class="fw-semibold text-decoration-none d-flex gap-1"
                            [routerLink]="isLog ? '/admin' : '/login'" [style.color]="color4">
                            <mat-icon>account_circle</mat-icon>
                            {{isLog ? MainService.AuthService.dataUser.Nombres :'Mi cuenta'}}
                        </a>
                        <a class="fw-semibold text-decoration-none d-flex gap-1" routerLink="/cart"
                            [style.color]="color4">
                            <mat-icon>shopping_cart</mat-icon> Carrito
                            <span *ngIf="MainService.CartService.count() > 0">
                                ({{MainService.CartService.count()}})
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>