<nav class="bg-white py-2">
    <div class="container">
        <div class="row py-2 w-100">
            <div class="col-6 col-md-3">
                <a class="navbar-brand col d-flex align-items-center justify-content-start" routerLink="/">
                    <img src="https://www.seeri.co/logo.svg" alt="" class="w-50 h-50">
                </a>
            </div>
            <div class="col-6 col-md-4">
                <form class="d-flex" role="search">
                    <input class="form-control me-2 d-flex justify-content-center" type="search"
                        placeholder="Que estas buscando" aria-label="Search">
                    <button class="btn btn-outline-primary w-25 d-flex align-items-center justify-content-center"
                        type="submit">Buscar</button>
                </form>
            </div>
            <div class="col-12 col-md-5">
                <div class="row w-100">
                    <a class="nav-link d-flex align-items-center justify-content-center col fsz fw-bolder"
                        routerLink="/login">
                        <img src="./iconos/usuario.png" alt="" class="iconos">Iniciar Sesion
                    </a>
                    <button
                        class="col btn btn-app  d-flex align-items-center justify-content-center fsz fw-semibold">¿Registrarme?</button>
                </div>
            </div>
        </div>
        <div class="row w-100">
            <div class="col-12 col-md-4">
                <div class="row w-100">
                    <div class="col-4 porEncima">
                        <a class="btn fw-semibold d-flex align-items-center" type="button" routerLink="/categories">
                            <span class="material-symbols-outlined">
                                menu
                            </span>Categorías</a>
                    </div>
                    <div class="col-4 porEncima">
                        <button class="btn fw-semibold" type="button">Proveedores</button>
                    </div>
                    <div class="col-4 porEncima">
                        <button class="btn fw-semibold" type="button" routerLink="/brands">Marcas</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="row w-100">
                    <div class="col-9 porEncima">
                        <button class="btn d-flex align-items-center justify-content-center">
                            <i class='bx bxs-truck bx-md dark '></i>
                            <strong class="fw-semibold">Envios a todo el pais</strong> *Aplica T&C
                        </button>
                    </div>
                    <div class="col-3 porEncima">
                        <button class="btn d-flex align-items-center justify-content-center fw-semibold">
                            Ayuda/PQR
                        </button>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-2 porEncima">
                <div class="row w-100">
                    <button class="btn d-flex justify-content-start align-items-center fw-semibold" routerLink="/cart">
                        <span class="material-symbols-outlined">
                            shopping_cart
                        </span>
                        {{MainService.CartService.countCart}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>