<h3 class="color-primary fw-bold">Mis redes sociales</h3>

<div class="w-100 d-flex flex-row justify-content-between align-items-center my-3">
    <div class="w-50">
        <mat-form-field class="w-100" appearance="outline" color="accent">
            <mat-label>Buscador </mat-label>
            <input matInput type="text">
        </mat-form-field>
    </div>
    <div class="d-flex flex-row justify-content-end align-items-center">
        <button mat-flat-button color="primary" class="ms-3" routerLink="/admin/my-store-social/form">Nuevo</button>
    </div>
</div>


    <div class="row my-3">
        <div class="col-12">
            <div class="table-responsive-sm">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Redes</th>
                            <th class="text-center">Valor</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of redes">
                            <td>{{item.RedSocial}}</td>
                            <td>{{item.URL}}</td>
                            <td class="text-end">
                                <div class="d-flex flex-row gap-1 justify-content-center">
                                    <button mat-icon-button color="primary" class="bg-secondary bg-opacity-25"
                                        [routerLink]="'/admin/my-store-social/form/'+item.Id">
                                        <span class="material-symbols-outlined">
                                            edit
                                        </span>
                                    </button>
                                    <button mat-icon-button color="warn" class="bg-secondary bg-opacity-25 ms-1"
                                        (click)="modal(item)">
                                        <span class=" material-symbols-outlined">
                                            delete
                                        </span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
