<div class="bg-white w-100  py-5">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md mb-3" *ngFor="let item of blocks.content">
                <div class="d-flex  justify-content-start align-items-center gap-3"
                    [ngClass]="{'flex-column': blocks.type == 'column','flex-row': blocks.type == 'row'}">
                    <div class="text-center">
                        <span class="material-symbols-outlined fs-1">
                            {{item.icon}}
                        </span>
                    </div>
                    <div class="text-center">
                        <p class="fw-bold f28">{{item.title}}</p>
                        <p class="fw-light f16">{{item.message}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="bg-white">
    <div class="container my-2">
        <div class="row w-100 py-2">
            <div class="col-12 col-md-4">
                <div class="row w-100">
                    <div class="col-4 d-flex align-items-center">
                        <img [src]="img" alt="" class="imgInfo">
                    </div>

                    <div class="col-8">
                        <h4>Surte tu negocio en un mismo lugar</h4>
                        <h5>Encuentra más de 8.000 productos de las mejores marcas.</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="row w-100">
                    <div class="col-4 d-flex align-items-center">
                        <img [src]="img" alt="" class="imgInfo">
                    </div>

                    <div class="col-8">
                        <h4>Aumenta las ganancias de tu negocio.</h4>
                        <h5>Con una rentabilidad de hasta 35% en pedidos grandes.</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="row w-100">
                    <div class="col-4 d-flex align-items-center">
                        <img [src]="img" alt="" class="imgInfo">
                    </div>

                    <div class="col-8">
                        <h4> Envío gratis y pago contra entrega.</h4>
                        <h5>Te regalamos el costo de envío por pedidos mínimos de $1.000.000.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->