<h3 class="fw-bold" [style.color]="color6">Mis pedidos</h3>
<div *ngIf="loading">
    <app-loading></app-loading>
</div>
<div *ngIf="!loading">
    <div *ngIf="!many_items" [style.color]="color5">
        No tienes pedidos registrados en el momento.
    </div>
    <div *ngIf="many_items">
        <p [style.color]="color5">Esta es la lista de tus {{num_items}} pedidos</p>
        <div class="row my-3">
            <div class="col-12">
                <div class="table-responsive-sm">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr class="">
                                <th>Id</th>
                                <th>Fecha</th>
                                <th>Tienda</th>
                                <th>Estado</th>
                                <th>Pago</th>
                                <th class="text-end">Subtotal</th>
                                <th class="text-end">Descuento</th>
                                <th class="text-end">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="d-flex" *ngFor="let item of itemsForUser" class="pointer"
                                [routerLink]="'/order-info/'+item.TiendaId+'/'+item.Id">
                                <td>{{item.Id.substring(item.Id.length - 5)}}</td>
                                <td>{{item.FechaCreacion | date:'dd-MM-yyyy'}}</td>
                                <td>{{item.NombreTienda}}</td>
                                <td>{{item.EstadoPedido}}</td>
                                <td>{{item.Estado == 'PEN' ? 'PENDIENTE' : 'PAGADO' }}</td>
                                <td class="text-end">${{(item.Valor | number)}}</td>
                                <td class="text-end">-${{(item.Descuento | number)}}</td>
                                <td class="text-end">${{(item.Total | number)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>