/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

:root {
    --primary: #1a237e;
    --secondary: #43a047;
}

body {
    background-color: #f7f9fc !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
    margin: 0 !important;
}

button {
    border-radius: 12px !important;
}

.mat-form-field-wrapper {
    margin: 0px !important;
    padding: 0px !important;
}

.bg-color-primary {
    background-color: var(--primary) !important;
}

.bg-color-secondary {
    background-color: var(--secondary) !important;
}

.color-primary {
    color: var(--primary) !important;
}

.color-secondary {
    color: var(--secondary) !important;
}

.hv-secondary:hover {
    color: var(--secondary) !important;
}

.pointer {
    cursor: pointer;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.f28 {
    font-size: 28px;
}

.f30 {
    font-size: 30px;
}