<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
        <div class="col-10 col-md-6 mx-auto d-flex flex-column">
            <mat-form-field class="w-100 mb-3" appearance="outline" color="accent">
                <mat-label>Nombre de la categoría</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="Descripcion" required>
            </mat-form-field>
            <button mat-flat-button color="primary" class="mb-3" type="submit">Crear</button>
        </div>
    </div>
</form>