<div class="card sizeCard">
    <button routerLink="/item" type="button" class="btn">
        <div class="card-body text-center">
            <img [src]="img" alt="" class="imgProductos">
            <p class="text-left mt-2">Producto</p>
        </div>
    </button>
    <div class="card-footer">
        <div class="row">
            <div class="col">
                <strong class="txtPrecios">$42.000</strong>
                <span class="txtPrecios2">*PSPV
                    $60.000</span>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" (click)="clear()">Limpiar carrito</button>
                <button type="button" class="btn btn-primary" (click)="removeStore()">Quitar tienda</button>
                <button type="button" class="btn btn-primary" (click)="remove()">Quitar</button>
                <button type="button" class="btn btn-primary" (click)="add()">Comprar</button>
            </div>
        </div>
    </div>
</div>