.sizeCard {
    width: 15rem;
}

.imgProductos {
    height: 70px;
    width: 100px;
}

.txtPrecios {
    font-size: medium;
    display: block;
}

.txtPrecios2 {
    font-size: x-small;
    background-color: bisque;
}

.promo {
    position: absolute;
    right: 0;
    top: 30;
    margin-right: 15px;
    margin-top: 15px;
    width: 45px;
    height: 45px;
    background-color: rgb(201, 0, 0);
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

.bg-image {
    background-size: cover;
    width: 100%;
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center;
}