<app-nav></app-nav>
<div class="container">
    <div class="row my-3">
        <div class="col-12 d-flex flex-row justify-content-between">
            <app-components-title-subtitle title="Ofertas especiales"
                subtitle="Estas son las ofertas especiales activas en quilla vende" justify="start">
            </app-components-title-subtitle>
            <mat-form-field appearance="outline" color="accent" class="d-none d-md-inline">
                <mat-label>Busca productos</mat-label>
                <input matInput type="text" [(ngModel)]="productSearch" (input)="search(productSearch)">
                <button matSuffix mat-icon-button aria-label="Clear" (click)="search(productSearch)">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="row" *ngIf="productsEvery">
            <div class="col-6 col-md-3" *ngFor="let item of items">
                <app-components-card-product [item]="item"></app-components-card-product>
            </div>
        </div>
        <div class="row" *ngIf="productForSearch">
            <div class="col-6 col-md-3" *ngFor="let item of groupProductSearch">
                <app-components-card-product [item]="item"></app-components-card-product>
            </div>
        </div>
        <div class="row mt-5 fw-semibold fs-3 mx-5" *ngIf="vacio2">
            No se encontraron productos asimilados a "{{productSearch}}"
        </div>
    </div>
</div>

<app-components-footer></app-components-footer>