<app-nav></app-nav>
<div class="container">
    <div class="row my-3">
        <div class="col-12 d-flex flex-row justify-content-between">
            <app-components-title-subtitle title="Promociones"
                subtitle="Estas son las promociones activas en vive sucre" justify="start">
            </app-components-title-subtitle>
            <div class="d-flex flex-row justify-content-around gap-3">
                <mat-form-field appearance="outline" color="accent" class="d-none d-md-inline">
                    <mat-label>Busca productos</mat-label>
                    <input matInput type="text">
                </mat-form-field>

                <button mat-flat-button color="primary">Filtro</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-3" *ngFor="let item of [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]">
            <app-components-card-product></app-components-card-product>
        </div>
    </div>
</div>

<app-components-footer></app-components-footer>